{% load static %}

{#<div id="delivery" class="main_container text-center mx-auto mt-3 d-block d-lg-none">#}
{#    <span id="our_goods" class=" w-100 mb-2" style="line-height: 1.3">о нашей </br>компании</span>#}
{#    <div id="goods_line" class="mx-auto my-3"></div>#}
{##}
{#</div>#}
{#<div class="inter_wrapper d-block d-lg-none mt-5 main_container w-100">#}
{#    <img src="{% static 'images/inter1.jpeg' %}" alt="Интерьер"#}
{#         class="inter1"#}
{#         style="position: absolute;#}
{#                "#}
{#    >#}
{#    <img src="{% static 'images/inter2.jpg' %}" alt="Интерьер"#}
{#         class="inter2"#}
{#         style="position: absolute;#}
{#                "#}
{#    >#}
{#</div>#}
{#<div class="row mb-4 main_container">#}
{#    <div class="col-12 col-lg-6 flex-column align-content-center">#}
{#        <div id="delivery" class="text-left mx-auto mt-5 d-none d-lg-block">#}
{#            <span id="our_goods" class=" w-100 px-3" style="line-height: 1.3">о нашей </br>компании</span>#}
{#            <div id="goods_line" class="ms-0 my-3"></div>#}
{##}
{#        </div>#}
{##}
{##}
{#        <div class="mb-3 mx-5">#}
{#            <span>#}
{#                «Правильная малярка» — это профессиональный малярный центр, включающий в себя: магазин популярных брендов лакокрасочной продукции и оборудования, услуги колористики, услуги мастеров строительно-малярных работ с многолетним стажем, разработку дизайн-проектов, консультацию и ведение проектов специалистами, мастер-классы для маляров.#}
{#            </span>#}
{#        </div>#}
{#        <a href="{% url 'about' %}"#}
{#           class="to_catalog_btn align-self-center fw-bold d-flex mx-auto align-items-center element-animation"#}
{#           style="text-decoration: none; font-size: 14px;#}
{#           width: 190px;#}
{#            font-family: 'Arial',Arial,sans-serif;#}
{#            line-height: 1.55;#}
{#            font-weight: 600; "#}
{#        >#}
{#                    <span type="button" data-bs-toggle="modal" data-bs-target="#headercallback"#}
{#                          class="">Узнать подробнее</span>#}
{#        </a>#}
{##}
{#    </div>#}
{#    <div class="col-12 col-lg-6 flex-column align-content-center position-relative">#}
{#        <div class="inter_wrapper d-none d-lg-block">#}
{#            <img src="{% static 'images/inter1.jpeg' %}" alt="Интерьер"#}
{#                 class="inter1"#}
{#                 style="position: absolute;#}
{#                "#}
{#            >#}
{#            <img src="{% static 'images/inter2.jpg' %}" alt="Интерьер"#}
{#                 class="inter2"#}
{#                 style="position: absolute;#}
{#                "#}
{#            >#}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="main_container text-center mx-auto">
    <span id="our_goods" class=" w-100">НАШИ РАБОТЫ</span>
    <div id="goods_line" class="mx-auto mb-3"></div>

    <div  class="photo_slider"
            style="">
        {% include 'main/components/services_category_clider.html' %}


    </div>
    <div class="main_container mb-5 d-flex justify-content-center">
        <script>
            let categories = []
            let category = ''
        </script>
        {% for cat in services_category %}
            <script>
                categories.push("{{cat}}")
            </script>
            <div class="mt-3 d-flex flex-column nail_div">
            <img class="service_nail" data-category="{{ cat }}"
                 src="{{ cat.photo_url }}" alt="{{ cat.name }}">
            <span class="nail_caption text-center">{{ cat.name }}</span>
            </div>

        {% endfor %}
    </div>
            <a href="{% url 'services' %}"
               class="to_catalog_btn align-self-center fw-bold d-flex mx-auto my-4 align-items-center element-animation"
               style="text-decoration: none; font-size: 14px;
               width: 200px;
                font-family: 'Arial',Arial,sans-serif;
                line-height: 1.55;
                font-weight: 600; "
            >
                <div class="flash lighting" style="height: 60px;width: 40px;top: 0px;left: -80px;"></div>

                <span type="button"
{#                              data-bs-toggle="modal" data-bs-target="#headercallback"#}
                              class="autoflash">
                            Узнать подробнее</span>
            </a>

</div>

    <div style="background-color: lightgrey;">
        <div id="pluses" class="main_container text-center mx-auto pt-5">
            <span id="our_goods" class=" w-100" style="line-height: 1.3">плюсы работы с нами</span>
            <div id="goods_line" class="mx-auto my-3"></div>

        </div>
        <div class="main_container row d-flex justify-content-around pb-5">
            <div class="col-12 col-lg-3 d-flex flex-column align-content-center text-center">
                <div class="pluses_circle d-flex justify-content-center align-content-center mx-auto">
                    <img src="{% static 'images/experience.png' %}" alt="Опыт">
                </div>
                <span class="fw-bold my-4">ОПЫТ</span>
                <span>За нас говорит наше портфолио и многочисленные отзывы довольных заказчиков!</span>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column align-content-center text-center">
                <div class="pluses_circle d-flex justify-content-center align-content-center mx-auto">
                    <img src="{% static 'images/quality.png' %}" alt="Опыт">
                </div>
                <span class="fw-bold my-4">КАЧЕСТВО</span>
                <span>Только популярные бренды лакокрасочных материалов и оборудования</span>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column align-content-center text-center">
                <div class="pluses_circle d-flex justify-content-center align-content-center mx-auto">
                    <img src="{% static 'images/prof.png' %}" alt="Опыт">
                </div>
                <span class="fw-bold my-4 text-uppercase">Профессионализм</span>
                <span>Многолетний стаж всех специалистов</span>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column align-content-center text-center">
                <div class="pluses_circle d-flex justify-content-center align-content-center mx-auto">
                    <img src="{% static 'images/support.png' %}" alt="Опыт">
                </div>
                <span class="fw-bold my-4 uppercase">ПОДДЕРЖКА</span>
                <span>Консультация и ведение проектов специалистами на протяжении всех этапов взаимодействия с Вами</span>
            </div>


        </div>
    </div>
