{% extends 'base.html' %}
{% load static %}
{% block page-title %}
    <title>{{ subcategory }}</title>
{% endblock %}

{% block cart %}
    <main>
        <!-- Start DEMO HTML (Use the following code into your project)-->
        <header id="site-header">
            <div class="container">
                <h1>Корзина </h1>
            </div>
        </header>
        <div class="container">
            <div class="row w-100">
                <div class="col-12 col-lg-8">
                    <a href="{% url 'index' %}" class="btn btn-light my-3">
                        Назад
                    </a>
                    {% for product in products %}
                        <br>
                        <div class="row">
                            <div class="col-md-2">
                                {% if product.product.photo %}
                                    <a href="{% url 'product_view' pk=product.product.vendor_code %}">
                                        <img src="{{ product.product.photo_url }} "
                                             class="card-img-top img-thumbnail" alt="{{ product.name }}"
                                             style="height: 200px; object-fit: contain"
                                        >
                                    </a>
                                {% else %}
                                {% endif %}
                            </div>
                            <div class="col-md-5">
                                <a href="{% url 'product_view' pk=product.product.vendor_code %}">{{ product.product.name }}</a>
                            </div>
                            <div class="col-md-1">
                                <button class="remove-from-cart" data-id="{{ product.product.vendor_code }}"><i class="bi bi-trash-fill"></i></button>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>

    </main>

{% endblock %}