{% extends 'base.html' %}
{% load static %}
{% block page-title %}
    <meta name="keywords"
          content="краска, интерьерная краска, премиум краска, лакокрасочные материалы, лак, шпатлевка, лкм, ">
    <meta property="og:title" content="{{ category }}">
    <meta property="og:description"
          content="{{ category.description }}">


    <title>{{ category }}</title>
    <meta name="description" content="{{ category.description }}">
    <meta name="title" content="{{ category }}">

{% endblock %}
{% block category %}
{#    {% include 'main/components/promoslider.html' %}#}
    {% if category %}



            <div id="goods" class="main_container py-3 text-center" style="width: 80%; margin-top: 50px;">
                <img src="{{ category.photo_url }} "
                     class="card-img-top img-thumbnail mt-4" alt="{{ category.name }}"
                     style="object-fit: contain; border: none; height: 100px"
                >

                <span class="mx-auto "
                      style="font-family: Circe,sans-serif;
                        color: black; font-size: 22px;
                    ">{{ category }}</br></br>
                    </span>
                <div class="inline-block position-relative"
                     data-bs-toggle="modal" data-bs-target="#categorydescription"
                >
                <span class="text-wrap line-clamp"
                      style="

                      font-family: Circe_Regular,sans-serif;
                        color: black; font-size: 14px;
                        {#overflow: hidden ;#}
                        {#white-space: nowrap;#}
                        {# display: -webkit-box;#}
                        {# -webkit-line-clamp: 3; /* number of lines to show */#}
                        {#         line-clamp: 3;#}
                        {##}
                        {# -webkit-box-orient: vertical;#}

                    "

{#                      onclick="{showdescr(category.description)}"#}
                >{{ category.description }}</span>
{#                    <div class="" style="#}
{#                        transform: tra;#}
{#                    "#}
{#                    >#}
{#                        <span class="text-start" >еще</span>#}
{#                    </div>#}
{#                </div>#}
            </div>

        {% if subcategory %}
            <div class="main_container w-100 my-5 row container px-0 justify-content-around ">
                {% for subcat in subcategory %}
                    <div class="col-6 col-lg-3 d-flex flex-column justify-content-between align-items-center goods_index_products_item my-2">
                        <a href="{% url 'subcategory' category=subcat.category subcategory=subcat %}"
                           class="d-flex flex-column justify-content-center align-items-center"
                           style="text-decoration: none; height: 95%"
                        >
                            {% if subcat.photo %}
                                <img src="{{ subcat.photo_url }} "
                                     class="card-img-top element-animation goods_index_image mt-2" alt="{{ subcat.name }}"
                                     style="object-fit: contain;"
                                >
                            {% else %}
                                <img src="{% static "images/no_image.svg" %}"
                                     class="card-img-top w-100 goods_index_image mt-2" alt="{{ subcat.name }}">
                            {% endif %}
                            <div class="goods_index_products_item_line element-animation" style="width: 35%; height: 2px"></div>
                            <div class="goods_index_products_item_name element-animation text-center" style=" height: 19%">
                                <span itemProp="name"
                                      class=' text-wrap '
                                      style="
                                        overflow: hidden;
                                         display: -webkit-box;
                                         -webkit-line-clamp: 2; /* number of lines to show */
                                                 line-clamp: 2;
                                         -webkit-box-orient: vertical;
                                              ">{{ subcat.name }}</span>
                            </div>
                            <div class="goods_index_products_item_description text-center my-3 element-animation"
                                 style="height: 45%">
                                <span itemProp="name"
                                      class=''
                                      style="   overflow: hidden;
                                       display: -webkit-box;
                                       -webkit-line-clamp: 5; /* number of lines to show */
                                               line-clamp: 5;
                                       -webkit-box-orient: vertical;
                                ">{{ subcat.description }}</span>
                            </div>


                            <div class="to_catalog_btn align-self-center fw-bold d-flex align-items-center element-animation" style="height: 15%">
                            <span type="button" data-bs-toggle="modal" data-bs-target="#headercallback"
                                  class="">В каталог</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if products %}
            <div id="goods_line" class="mx-auto my-3"></div>
            <div class="main_container row d-flex justify-content-center mb-4">
                {% for product in products %}
                    <div class="col-12 col-lg-3 d-flex flex-column justify-content-center align-items-center subcategory_index_products_item my-2 mx-auto">
                        <a href="{% url 'product_view' pk=product.vendor_code %}"
                           class="d-flex flex-column justify-content-center align-items-center"
                           style="text-decoration: none; height: 75%"
                        >
                            {% if product.photo %}
                                <img src="{{ product.photo_url }} "
                                     class="card-img-top w-100 element-animation product_details_img" alt="{{ product.name }}"
                                     style="object-fit: contain;"
                                >
                            {% else %}
                                <img src="{% static "images/no_image.svg" %}"
                                     class="card-img-top w-100 product_details_img" alt="{{ product.name }}">
                            {% endif %}
                            {#                        <div class="goods_index_products_item_line element-animation" style="width: 35%"></div>#}
                            <div class="category_products_item_name element-animation text-center" style="">
                        <span itemProp="name"
                              class=' text-wrap element-animation '
                              style="
                                      overflow: hidden;
                                       display: -webkit-box;
                                       -webkit-line-clamp: 4; /* number of lines to show */
                                               line-clamp: 4;
                                       -webkit-box-orient: vertical;
                                      ">{{ product.name }}</span>
                            </div>
                            {#                        <div class="goods_index_products_item_description text-center my-3 element-animation" style="">#}
                            {#                        <span itemProp="name"#}
                            {#                              class=''#}
                            {#                              style="   overflow: hidden;#}
                            {#                               display: -webkit-box;#}
                            {#                               -webkit-line-clamp: 4; /* number of lines to show */#}
                            {#                                       line-clamp: 5;#}
                            {#                               -webkit-box-orient: vertical;#}
                            {#                        ">{{ product.description }}</span>#}
                            {#                        </div>#}
                            <span itemProp="price"
                                  data-id="{{ product.vendor_code }}"
                                  class='card-price text-dark mb-0 mt-2 element-animation '
                                  style=" font-weight: 400; font-size: 16px;
                              overflow: hidden;
                                                   display: -webkit-box;
                                                   -webkit-line-clamp: 1; /* number of lines to show */
                                                           line-clamp: 1;
                                                   -webkit-box-orient: vertical;"
                            > {{ product.packprices.first.price }} р.</span>
                        </a>
                        {% if product.packprices.all|length > 1 %}

                            <div class="d-flex text-center justify-content-around element-animation my-2"
                                 aria-label="{{ product.name }}" style="height: 10%">
                                {% for weight in product.packprices.all %}
                                    <button type="button"
                                            data-id="{{ product.vendor_code }}plus{{ weight.id }}"
                                            data-price="{{ weight.price }}"
                                            class="btn btn-secondary weight-select-button"
                                            style="font-size: 70%; {% if forloop.first %} background-color: blue {% else %} background-color: gray {% endif %}"
                                    >{{ weight.weight }}</button>

                                {% endfor %}


                            </div>
                        {% else %}
                            <div class="d-flex text-center justify-content-around element-animation my-2" style="height: 10%"></div>

                        {% endif %}
                        <a href="{% url 'product_view' pk=product.vendor_code %}" class="to_catalog_btn align-self-center fw-bold d-flex align-items-center element-animation mb-1"
                           data-name="{{ product.name }}"
                           data-price="{{ product.price }}"
                           data-id="{{ product.vendor_code }}"
                           data-weight="{{ product.packprices.first.id }}"
                           style="height: 15% "
                        >
                            <span type="button"
                                  class="">Подробнее</span>
                        </a>

                        {#                        <button#}
                        {#                                data-name="{{ product.name }}"#}
                        {#                                data-price="{{ product.price }}"#}
                        {#                                data-id="{{ product.vendor_code }}"#}
                        {#                                data-weight="{{ product.packprices.first.id }}"#}
                        {#                                class="add-to-cart-btn w-100 py-3 mb-1 to_cart_button"#}
                        {#                                style="cursor: pointer"#}
                        {#                        >Подробнее#}
                        {#                        </button>#}
                        {#                        <div class="to_catalog_btn align-self-center fw-bold d-flex align-items-center element-animation">#}
                        {#                    <span type="button" data-bs-toggle="modal" data-bs-target="#headercallback"#}
                        {#                          class="">Подробнее</span>#}
                        {#                        </div>#}

                    </div>
                    {#                <div class="item category_product_item mb-1 mb-sm-0 px-1">#}
                    {#                    <div class="card subcategory_menu d-flex flex-column h-100">#}
                    {#                        <a href="{% url 'product_view' pk=product.vendor_code %}" class=" category_product_image">#}
                    {#                            {% if product.photo %}#}
                    {##}
                    {#                                <img src="{{ product.photo_url }} "#}
                    {#                                     class="card-img-top img-thumbnail h-100" alt="{{ product.name }}"#}
                    {#                                     style="object-fit: contain"#}
                    {#                                >#}
                    {##}
                    {#                            {% else %}#}
                    {#                                <img src="{% static "images/no_image.svg" %}"#}
                    {#                                     class="card-img-top img-responsive" alt="{{ product.name }}">#}
                    {#                            {% endif %}#}
                    {#                        </a>#}
                    {#                        <div class="card-body text-center d-flex flex-column justify-content-between"#}
                    {#                             style="object-fit: contain">#}
                    {#                            <a href="{% url 'product_view' pk=product.vendor_code %}">#}
                    {##}
                    {#                                            <span class='fw-bold card-name d-inline-block text-start py-0 mb-0'#}
                    {#                                                  style="">#}
                    {#                                                <span itemProp="name"#}
                    {#                                                      class='card-name fw-bold text-dark mb-3'#}
                    {#                                                      style="   overflow: hidden;#}
                    {#                                                       display: -webkit-box;#}
                    {#                                                       -webkit-line-clamp: 2; /* number of lines to show */#}
                    {#                                                               line-clamp: 2;#}
                    {#                                                       -webkit-box-orient: vertical;"#}
                    {#                                                >{{ product.name }}</span>#}
                    {#                                            </span>#}
                    {#                            </a>#}
                    {##}
                    {##}
                    {##}
                    {##}
                    {#                            <div id="cart-wrap" class="text-center justify-item-end cart-qty-wrapper mb-1"#}
                    {#                                 data-id="{{ product.vendor_code }}">#}
                    {#                                <button class="cart-minus to_cart_button"#}
                    {#                                        data-id="{{ product.vendor_code }}"#}
                    {#                                        data-weight=""#}
                    {#                                        style="cursor: pointer"#}
                    {#                                >-#}
                    {#                                </button>#}
                    {#                                <i class="bi bi-basket"></i>#}
                    {#                                <span#}
                    {#                                        class="cart-qty"#}
                    {#                                        data-id="{{ product.vendor_code }}"#}
                    {#                                        data-weight="{{ product.packprices.first.id }}"#}
                    {#                                >0</span>#}
                    {#                                <button class="cart-plus  to_cart_button"#}
                    {#                                        data-id="{{ product.vendor_code }}"#}
                    {#                                        data-name="{{ product.name }}"#}
                    {#                                        data-price="{{ product.price }}"#}
                    {#                                        data-weight="{{ product.packprices.first.id }}"#}
                    {#                                        style="cursor: pointer"#}
                    {#                                >+#}
                    {#                                </button>#}
                    {##}
                    {#                            </div>#}
                    {##}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                </div>#}
                {% endfor %}
            </div>

        {% endif %}
    {% endif %}

{% endblock %}