{% extends 'base.html' %}
{% load static %}
{% block page-title %}
    <meta name="keywords"
          content="краска, интерьерная краска, премиум краска, лакокрасочные материалы, лак, шпатлевка, лкм, ">
    <meta property="og:title" content="{{ category }}">
    <meta property="og:description"
          content="{{ category.description }}">


    <title>{{ category }}</title>
    <meta name="description" content="{{ category.description }}">
    <meta name="title" content="{{ category }}">

{% endblock %}
{% block category %}
    {#    {% include 'main/components/promoslider.html' %}#}
    {% if category %}



        <div id="goods" class="main_container py-3 text-center" style="margin-top: 50px;">
            <img src="{{ category.photo_url }} "
                 class="card-img-top img-thumbnail mt-4" alt="{{ category.name }}"
                 style="object-fit: contain; border: none; height: 200px"
            >

            <span class="mx-auto "
                  style="font-family: Circe,sans-serif;
                        color: black; font-size: 22px;
                    ">{{ category }}<br><br>
                    </span>
            <div class="inline-block position-relative"
                 data-bs-toggle="modal" data-bs-target="#categorydescription"
            >
                <span class="text-wrap line-clamp mb-3"
                      style=" font-family: Circe_Regular,sans-serif;
                              color: black; font-size: 14px;"
                >{{ category.description }}</span>
            </div>
        </div>

        {% if subcategory %}
            <div id="goods_line" class="mx-auto mb-3"></div>

            <div class="main_container w-100 my-5 row container px-0 justify-content-around ">

                {% for subcat in subcategory %}
                    <div class="col-6 col-lg-3 d-flex flex-column justify-content-between align-items-center goods_index_products_item my-2">
                        <a href="{% url 'subcategory' category=subcat.category subcategory=subcat %}"
                           class="d-flex flex-column justify-content-center align-items-center"
                           style="text-decoration: none; height: 95%"
                        >
                            {% if subcat.photo %}
                                <img src="{{ subcat.photo_url }} "
                                     class="card-img-top element-animation goods_index_image mt-2"
                                     alt="{{ subcat.name }}"
                                     style="object-fit: contain;"
                                >
                            {% else %}
                                <img src="{% static "images/no_image.svg" %}"
                                     class="card-img-top w-100 goods_index_image mt-2" alt="{{ subcat.name }}">
                            {% endif %}
                            <div class="goods_index_products_item_line element-animation"
                                 style="width: 35%; height: 2px"></div>
                            <div class="goods_index_products_item_name element-animation text-center"
                                 style=" height: 19%">
                                <span itemProp="name"
                                      class=' text-wrap '
                                      style="
                                        overflow: hidden;
                                         display: -webkit-box;
                                         -webkit-line-clamp: 2; /* number of lines to show */
                                                 line-clamp: 2;
                                         -webkit-box-orient: vertical;
                                              ">{{ subcat.name }}</span>
                            </div>
                            <div class="goods_index_products_item_description text-center my-3 element-animation"
                                 style="height: 45%">
                                <span itemProp="name"
                                      class=''
                                      style="   overflow: hidden;
                                       display: -webkit-box;
                                       -webkit-line-clamp: 5; /* number of lines to show */
                                               line-clamp: 5;
                                       -webkit-box-orient: vertical;
                                ">{{ subcat.description }}</span>
                            </div>


                            <div class="to_catalog_btn align-self-center fw-bold d-flex align-items-center element-animation"
                                 style="height: 15%">
                            <span type="button" data-bs-toggle="modal"
                                  class="">В каталог</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if productswithoutquery %}
            <div class="main_container d-flex justify-content-between align-items-center flex-nowrap overflow-hidden position-relative">
                <div></div>
                <div id="wrap" class=" me-3" style="max-width: 100%">
                    <form action="{% url 'category' category=category %}" class="search-box">
                        <button id="search-btn" class=" btn-search" type="submit">
                            <i class="bi bi-search"></i>
                        </button>
                        {#            <div class="search__wrapper">#}
                        {{ searchform.as_p }}
                        {#            input(type="text" , placeholder=" " )#}

                        {#            </div>#}
                    </form>
                </div>

            </div>
            {% if query %}
                <div class="main_container d-flex justify-content-start"><span
                        class="badge rounded-pill text-bg-light ms-5"><button id='search_close'>close</button>
                    {{ query }}</span>
                </div>
            {% endif %}




            {% if products %}

                <div id="goods_line" class="mx-auto my-3"></div>
                <div class="main_container row d-flex justify-content-center mb-4" style="flex-shrink: 0;">
                    {% for product in products %}
                        <div class="col-6 col-lg-3 d-flex flex-column justify-content-between align-items-center subcategory_index_products_item my-2"
                            style="flex-shrink: 0;"
                        >
                            <a href="{% url 'product_view' pk=product.vendor_code %}"
                               class="d-flex flex-column justify-content-start align-items-center"
                               style="text-decoration: none; min-height: 70%; height: 70%"
                            >
                                {% if product.photo %}
                                    <img src="{{ product.photo_url }} "
                                         class="card-img-top w-100 element-animation product_details_img"
                                         alt="{{ product.name }}"
                                         style="object-fit: contain;"
                                    >
                                {% else %}
                                    <img src="{% static "images/no_image.svg" %}"
                                         class="card-img-top w-100 product_details_img" alt="{{ product.name }}">
                                {% endif %}
                                {#                        <div class="goods_index_products_item_line element-animation" style="width: 35%"></div>#}
                                <div class="category_products_item_name element-animation text-center"
                                     style="height: 25%">
                                <span itemProp="name"
                                      class=' text-wrap element-animation '
                                      style="
                                              overflow: hidden;
                                               display: -webkit-box;
                                               -webkit-line-clamp: 3; /* number of lines to show */
                                                       line-clamp: 3;
                                               -webkit-box-orient: vertical;
                                              ">{{ product.name }}</span>
                                        </div>
                                <span itemProp="price" id="price"
                                      data-id="{{ product.vendor_code }}"
                                      class='card-price text-dark mb-0 mt-2 element-animation '
                                      style=" font-weight: 400; font-size: 16px;
                              overflow: hidden;
                                                   display: -webkit-box;
                                                   -webkit-line-clamp: 1; /* number of lines to show */
                                                           line-clamp: 1;
                                                   -webkit-box-orient: vertical;"
                                > {{ product.packprices.first.price }} р.</span>
                            </a>
                            {% if product.packprices.all|length > 1 %}

                                <div class="d-flex text-center justify-content-around element-animation my-2"
                                     aria-label="{{ product.name }}" style="height: 10%; z-index: 101">
                                    {% if product.packprices.all|length < 4 %}


                                        {% for weight in product.packprices.all %}
                                            <button type="button"
                                                    data-id="{{ product.vendor_code }}plus{{ weight.id }}"
                                                    data-price="{{ weight.price }}"
                                                    class="btn btn-secondary weight-select-button text-black h-100"
                                                    style="font-size: 70%; background-color: transparent;
                                                            {% if forloop.first %} border-width: 2px {% else %} border-width: 1px {% endif %}"
                                            >{{ weight.weight }}</button>

                                        {% endfor %}
                                    {% else %}
                                        <div class="dropdown-center">
                                            {% for weight in product.packprices.all %}
                                                {% if forloop.first %}
                                                    <button id="dropdown_button_toggle" data-bs-toggle="dropdown"
                                                            data-id="{{ product.vendor_code }}plus{{ weight.id }}"
                                                            data-price="{{ weight.price }}"
                                                            aria-expanded="false"
                                                            class="btn btn-secondary text-black dropdown-toggle h-100"
                                                            style="font-size: 70%; background-color: transparent; border-width: 1px"
                                                    >{{ weight.weight }}</button>
                                                {% endif %}
                                            {% endfor %}

                                            <ul class="dropdown-menu">
                                                {% for weight in product.packprices.all %}

                                                    <li>
                                                        <button
                                                                data-id="{{ product.vendor_code }}plus{{ weight.id }}"
                                                                data-price="{{ weight.price }}"
                                                                data-weight="{{ weight.weight }}"
                                                                class="btn btn-secondary dropdown-item dropdown-weight-select-button text-black"
                                                                style="font-size: 70%;"
                                                        >{{ weight.weight }}</button>
                                                    </li>
                                                {% endfor %}
                                            </ul>


                                        </div>
                                    {% endif %}


                                </div>
                            {% else %}
                                <div class="d-flex text-center justify-content-around element-animation my-2"
                                     style="height: 10%"></div>
                            {% endif %}
                            <a href="{% url 'product_view' pk=product.vendor_code %}"
                               class="w-75 to_catalog_btn align-self-center fw-bold d-flex align-items-center element-animation mb-1"
                               data-name="{{ product.name }}"
                               data-price="{{ product.price }}"
                               data-id="{{ product.vendor_code }}"
                               data-weight="{{ product.packprices.first.id }}"
                               style="height: 10%; text-decoration: none; background-color: transparent; border: 1px black; border-style: groove; overflow: visible !important;"
                            >
                                <span type="button"
                                      class="text-center mx-auto text-black prompt">Подробнее</span>
                            </a>
                            <button id="" onclick=''
                                    class="buy_button_card w-75 text-decoration-none to_catalog_btn fw-bold d-flex align-items-center mb-1 element-animation"
                                    data-categoryurl="{% url 'category' category=product.category %}"
                                    data-id="{{ product.vendor_code }}"
                                    data-name="{{ product.name }}"
                                    data-price="{{ product.price }}"
                                    data-weight="{{ product.packprices.first.id }}"
                                    style="height: 10%; cursor: pointer;  z-index: 100"
                            >
                                <span type="button"
                                      class="text-center mx-auto">Купить</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div id="goods" class="main_container px-0 py-3 w-100 d-flex justify-content-center">
                    <h1 id="responsive_headline" class="fs-2 pe-3 mx-auto text-nowrap"
                        style="font-family: 'Gotham Pro Medium',sans-serif;
                color: #1A4582;
            ">Товары не найдены</h1>
                </div>

            {% endif %}

        {% endif %}
    {% endif %}

{% endblock %}