{% load static %}

<div id="delivery" class="main_container text-center mx-auto mt-5">
    <span id="our_goods" class=" w-100">Доставка и оплата</span>
    <div id="goods_line" class="mx-auto mb-3"></div>

</div>
<div class="main_container d-flex justify-content-evenly row align-items-center text-center w-100 py-4" style="font-weight: 400">
    <span id="delivery_decr" class="d-lg-none d-block">Условия доставки</span>
    <img src="{% static 'images/truckwithlogo.png' %}" alt="Фургон" class="col-12 col-lg-6 text-center" style="width: 40%">
    <div class="text-start col-12 col-lg-6 px-3 delivery_text">
        <span id="delivery_decr" class="d-lg-block d-none">Условия доставки</span>
        <div class="my-2 d-flex" style="line-height: 28px;">
            <div class="d-flex" style="width: 10%;"><div class="circle_before_span align-self-center" ></div></div>
            <span>Оперативная доставка стройматериалов до объекта.</span><br>
        </div>
        <div class="my-2 d-flex"style="line-height: 28px;">
            <div class="d-flex" style="width: 10%;"><div class="circle_before_span" ></div></div>
            <span style="width: 90%;">Отгрузка заказов осуществляется только при 100% предоплате.</span><br>
        </div>
        <div class="my-2 d-flex"style="line-height: 28px;">
            <div class="d-flex" style="width: 10%;"><div class="circle_before_span" ></div></div>
            <span style="width: 90%;">Мы осуществляем доставку по всем регионам РФ транспортными компаниями. Доставка до терминала транспортной компании: БЕСПЛАТНО.</span><br>
        </div>
    </div>
</div>
<div class="main_container d-flex justify-content-evenly row align-items-center text-center w-100" style="font-weight: 400">
    <span id="delivery_decr" class="d-block d-lg-none py-3">Оплата</span>
    <div class="text-start col-12 col-lg-6 px-3 text-lg-end delivery_text">
        <span id="delivery_decr" class="d-none d-lg-block">Оплата</span>
        <img src="{% static 'images/terminal.webp' %}" alt="Фургон" class="small_payment_img d-block d-lg-none col-12 col-lg-6 text-center mx-auto"  style="width: 35%">
        <div class="my-2 d-flex" field="tn_text_1592395270042" style="line-height: 28px;">
            <div class="d-flex d-lg-none" style="width: 10%;"><div class="circle_before_span align-self-center" ></div></div>
            <span style="width: 90%;">Оплата наличными.</span><div class="d-lg-flex d-none justify-content-end" style="width: 10%;"><div class="circle_before_span align-self-center" ></div></div><br>
        </div>
        <div class="my-2 d-flex" field="tn_text_1592395270042" style="line-height: 28px;">
            <div class="d-flex d-lg-none" style="width: 10%;"><div class="circle_before_span align-self-center" ></div></div>
            <span style="width: 90%;">Оплата пластиковой картой.</span><div class="d-lg-flex d-none justify-content-end" style="width: 10%;"><div class="circle_before_span align-self-center" ></div></div><br>
        </div>
        <div class="my-2 d-flex" field="tn_text_1592395270042" style="line-height: 28px;">
            <div class="d-flex d-lg-none" style="width: 10%;"><div class="circle_before_span align-self-center" ></div></div>
            <span style="width: 90%;">Оплата по безналичному расчету. Данная функция работает для юридических лиц и индивидуальных предпринимателей.
            </span><div class="d-lg-flex d-none justify-content-end" style="width: 10%;"><div class="circle_before_span align-self-center" ></div></div><br>
        </div>
    </div>
    <img src="{% static 'images/terminal.webp' %}" alt="Фургон" class="d-none pb-lg-5 d-lg-flex col-12 col-lg-6 text-center" style="width: 30%">

</div>

{#<div id="delivery" class="main_container text-center mt-5" style="font-family: Circe, sans-serif">#}
{#    <span id="our_goods" class=" w-100">Доставка и оплата</span>#}
{#    <div id="goods_line" class="mx-auto mb-3"></div>#}
{##}
{##}
{#    <div class="main_container d-flex justify-content-evenly row align-items-center text-center pb-4"#}
{#         style="font-weight: 400;">#}
{#        <span id="delivery_decr" class="d-lg-none d-block">Условия доставки</span>#}
{#        <img src="{% static 'images/truckwithlogo.png' %}" alt="Фургон" class="col-12 col-lg-6 text-center furgon">#}
{#        <div class="text-start col-12 col-lg-6 px-3 delivery_text" style="">#}
{#            <span id="delivery_decr" class="d-lg-block d-none">Условия доставки</span>#}
{#            <div class="my-2 d-flex" style="line-height: 28px;">#}
                {#            <div class="d-flex" style="width: 10%;"><div class="circle_before_span align-self-center" ></div></div>#}
{#                <span style="font-family: Circe-Regular, sans-serif">Оперативная доставка стройматериалов до объекта.</span><br>#}
{#            </div>#}
{#            <div class="my-2 d-flex" style="line-height: 28px;">#}
                {#            <div class="d-flex" style="width: 10%;"><div class="circle_before_span" ></div></div>#}
{#                <span style="font-family: Circe-Regular, sans-serif">Отгрузка заказов осуществляется только при 100% предоплате.</span><br>#}
{#            </div>#}
{#            <div class="my-2 d-flex" style="line-height: 28px;">#}
                {#            <div class="d-flex" style="width: 10%;"><div class="circle_before_span" ></div></div>#}
{#                <span style="font-family: Circe-Regular, sans-serif">Мы осуществляем доставку по всем регионам РФ транспортными компаниями. Доставка до терминала транспортной компании: БЕСПЛАТНО.</span><br>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="main_container d-flex justify-content-around align-items-center w-100" style="font-weight: 400">#}
{#        <span id="delivery_decr" class="d-block d-lg-none py-3 w-100">Оплата</span>#}
{#        <div class="text-start col-12 col-lg-5 delivery_text text-lg-end" style="line-height: 22px; font-size: 14px">#}
{#            <span id="delivery_decr" class="d-none d-lg-block">Оплата</span>#}
{#            <img src="{% static 'images/terminal.webp' %}" alt="Фургон"#}
{#                 class="small_payment_img d-block d-lg-none col-12 col-lg-6 text-center mx-auto furgon">#}
{#            <div class="my-2 d-flex" field="tn_text_1592395270042" style="line-height: 28px;font-family: Circe-Regular, sans-serif">#}
{#                <span style="">Оплата наличными.</span>#}
{#               <br>#}
{#            </div>#}
{#            <div class="my-2 d-flex" field="tn_text_1592395270042" style="line-height: 28px;font-family: Circe-Regular, sans-serif">#}
{#                <span class="">Оплата пластиковой картой.</span>#}
{#                <br>#}
{#            </div>#}
{#            <div class="my-2 d-flex" field="tn_text_1592395270042" style="line-height: 28px;font-family: Circe-Regular, sans-serif">#}
{#                <span style="">Оплата по безналичному расчету. Данная функция работает для юридических лиц и индивидуальных предпринимателей.#}
{#            </span>#}
{#            </div>#}
{#            <br>#}
{#        </div>#}
{#        <img src="{% static 'images/terminal.webp' %}" alt="Фургон" class="d-none pb-lg-5 d-lg-flex text-center"#}
{#             style="width: 30%">#}
{##}
{#    </div>#}
{##}
{#</div>#}
</div>