{% load static %}
    <div id="goods" class="text-center mx-auto">
        <span   class=" w-100 mb-3">Наши товары</span>
        <div id="goods_line" class="mx-auto my-3"></div>
        <span id="decr">Широкий ассортимент продукции от различных брендов и лидеров рынка</span>
    </div>
    <div class="row">
        {% for category in categories %}
            <a href="{% url 'category' category=category%}" class="d-flex flex-column p-1 products_item" >
                {% if category.photo %}
                        <img src="{{ category.photo_url }} "
                             class="card-img-top img-thumbnail rounded-4 p-0" alt="{{ service.name }}"
                             style="height: 200px; object-fit: cover; border-color: #1A4582; border-width: medium"
                        >
                {% else %}
                    <img src="{% static "images/no_image.svg" %}"
                         class="card-img-top img-responsive" alt="{{ category.name }}">
                {% endif %}
                <div class="d-flex card-body text-center justify-content-center align-content-center"  style="background-color: #E6E6E6;">
                        <span itemProp="name"
                              class='card-name fw-bold text-dark mb-3 text-center'
                              style="   overflow: hidden;
                               display: -webkit-box;
                               -webkit-line-clamp: 3; /* number of lines to show */
                                       line-clamp: 3;
                               -webkit-box-orient: vertical;
                                font-family: 'Gotham Pro Light',sans-serif;
                                text-transform: uppercase;
                                font-size: larger;
                                align-self: center;


                        ">{{ category.name }}</span>
                </div>
            </a>


        {% endfor %}
    </div>
