{% load static %}
<div id="goods" class="main_container text-center mt-5 mx-auto">
    <span id="our_goods" class=" w-100">Наши товары</span>
    <div id="goods_line" class="mx-auto mb-3"></div>
    <h3 class="tn-atom" style="line-height: 31px; font-size: 20px; font-family: Circe-Regular, sans-serif">Широкий ассортимент продукции от
        различных брендов и лидеров рынка</h3></div>
<div id="products_index" class="main_container row d-flex justify-content-center mx-auto">
    {% for category in categories %}
        <div class="col-6 col-lg-3 shadow-lg d-flex flex-column justify-content-between align-items-center goods_index_products_item my-2">
            <a href="{% url 'category' category=category %}"
               class="d-flex flex-column justify-content-center align-items-center"
               style="text-decoration: none; height: 95%"
            >
                {% if category.photo %}
                    <img src="{{ category.photo_url }} "
                         class="card-img-top element-animation mt-2 goods_index_image" alt="{{ category }}"
                         style="object-fit: contain;"
                    >
                {% else %}
                    <img src="{% static "images/no_image.svg" %}"
                         class="card-img-top w-100" alt="{{ category.name }}" style="height: 20%; object-fit: contain;">
                {% endif %}
                <div class="goods_index_products_item_line element-animation" style="width: 35%; height: 2px"></div>
                <div class="goods_index_products_item_name element-animation text-center" style=" height: 19%">
                        <span itemProp="name"
                              class=' text-wrap '
                              style="
                                      {#overflow: hidden;#}
                                      {# display: -webkit-box;#}
                                      {# -webkit-line-clamp: 1; /* number of lines to show */#}
                                      {#         line-clamp: 1;#}
                                      {# -webkit-box-orient: vertical;#}
                                      ">{{ category.name }}</span>
                </div>
                <div class="goods_index_products_item_description text-center my-3 element-animation" style="height: 45%">
                        <span itemProp="name"
                              class=''
                              style="
                              font-family: Circe-Regular, sans-serif;
                              overflow: hidden;

                               display: -webkit-box;
                               -webkit-line-clamp: 5; /* number of lines to show */
                                       line-clamp: 5;
                               -webkit-box-orient: vertical;
                        ">{{ category.description }}</span>
                </div>


            <div class="to_catalog_btn align-self-center fw-bold d-flex align-items-center element-animation" style="height: 15%">
                    <span type="button"
                          class="">В каталог</span>
            </div>
            </a>
        </div>


    {% endfor %}
</div>
