{#{% extends 'base.html' %}#}


<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="{% url 'index' %}">Правильная Малярка</a>
        <a class="navbar-brand" href="{% url 'goods' %}">Товары</a>
        <a class="navbar-brand" href="{% url 'services' %}">Работы</a>
        <div class="position-relative">
            <a class="navbar-brand" href="{% url 'cart' %}">
                <i class="bi bi-cart3">
                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-amount">

                              <span class="visually-hidden">unread messages</span>
                          </span>

                </i>
            </a>

        </div>
    </div>
</nav>

