{% extends 'base.html' %}
{% block page-title %}
    <title>Правильная Малярка</title>
{% endblock %}
{% block index %}
    <div class="container">
        {% for key, value in catalog.items %}
            <a href="{% url 'category' category=key %}" class="fs-1">
                        {{ key }}
                    </a>
            <div class="container msc-3">
                {% for subcat in value %}
                    <li>{{ subcat }}</li>

                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% endblock %}