{% extends 'base.html' %}
{% load static %}
{% block page-title %}
    <title>{{ subcategory }}</title>
{% endblock %}
{% block subcategory %}


    <div style="display: none" id="jsonData" data-json="{{ productsJS }}"></div>
    <div style="display: none" id="categoryData" data-json="{{ category }}"></div>
    <div style="display: none" id="subcategoryData" data-json="{{ subcategor }}"></div>
    <nav class="subcategory_menu navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-between">
                    <button class="btn-secondary nav-link dropdown-toggle"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="outside"
                            aria-expanded="false" style="color: #1A4582">

                        КАТАЛОГ
                    </button>
                    <ul class="dropdown-menu " style="width: 300px">
                        <li class="accordion dropdown-item accordion-flush" id="catalogaccordion">
                            {% for cat in allcategory %}
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#section-{{ forloop.counter0 }}"
                                                aria-expanded="false"
                                                aria-controls="section-{{ forloop.counter0 }}"
                                                style="color: #1A4582; background-color: #E6E6E6;">
                                            {{ cat }}
                                        </button>

                                    </h2>
                                    {% for subcat in allsubcategory %}
                                        {% if subcat.category == cat %}
                                            <div id="section-{{ forloop.parentloop.counter0 }}"
                                                 class="accordion-collapse collapse"
                                                 aria-labelledby="headingOne" data-bs-parent="#catalogaccordion">
                                                <div class="accordion-body">
                                                    <a class="dropdown-item" style="color: #1A4582"
                                                       href="{% url 'subcategory' category=category subcategory=subcat %}">{{ subcat }}</a>

                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}

                        </li>


                    </ul>
                    <li class="nav-item float-end">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle position-relative" href="#" role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false" style="color: #1A4582">
                                    БРЭНД
                                    {% if vendor %}
                                        <i class="position-absolute vendor_close">
                                            <a href="{% url 'subcategory' category=category subcategory=subcategory %}"
                                               class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">x
                                            </a>
                                        </i>

                                    {% endif %}
                                </a>
                                <ul class="dropdown-menu">
                                    {% for vendor in allbrend %}
                                        <li><a class="dropdown-item" style="color: #1A4582"
                                               href="{% url 'subcategory' category=category subcategory=subcategory %}?vendor={{ vendor }}">{{ vendor }}</a>
                                        </li>
                                    {% endfor %}


                                </ul>
                            </li>
                            <li class="">
                                {% if sortup %}
                                    <a class="nav-link"
                                            {% if vendor %}
                                       href="{% url 'subcategory' category=category subcategory=subcategory %}?vendor={{ vendor }}"
                                            {% else %}
                                       href="{% url 'subcategory' category=category subcategory=subcategory %}"
                                            {% endif %}

                                       role="button"
                                       aria-expanded="false">
                                        <i class="bi bi-sort-up" style="color: #1A4582"></i>
                                    </a>
                                {% else %}
                                    <a class="nav-link"
                                            {% if vendor %}
                                       href="{% url 'subcategory' category=category subcategory=subcategory %}?vendor={{ vendor }}&sortup=1"
                                            {% else %}
                                       href="{% url 'subcategory' category=category subcategory=subcategory %}?sortup=1"
                                            {% endif %}
                                       role="button"
                                       aria-expanded="false">
                                        <i class="bi bi-sort-down" style="color: #1A4582"></i>
                                    </a>

                                {% endif %}

                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block card %}
        {% if products %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'category' category=category %}">{{ category }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ subcategory }}</li>
                </ol>
            </nav>
            <div id="goods" class="container px-0 py-3 d-table-row collapse w-100">
                <h1 id="responsive_headline" class="fs-2 pe-3 d-table-cell text-nowrap"
                    style="font-family: 'Gotham Pro Medium',sans-serif;
                color: #1A4582;
            ">{{ subcategory }}</h1>
                <div class="service_index_line p-0 d-table-cell h-100 w-100"></div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    {#                    <h1>{% if subcategory %}{{ subcategory.name }}{% else %}Товары{% endif %}</h1>#}
                    <div class="row">
                        {% for product in products %}
                            <div class="item col-12 col-md-4 col-lg-3 mb-1 mb-sm-0 px-1">
                                <div class="card subcategory_menu d-flex flex-column">
                                    <a href="{% url 'product_view' pk=product.vendor_code %}">
                                        {% if product.photo %}

                                            <img src="{{ product.photo_url }} "
                                                 class="card-img-top img-thumbnail" alt="{{ product.name }}"
                                                 style="height: 10vw; object-fit: contain"
                                            >

                                        {% else %}
                                            <img src="{% static "images/no_image.svg" %}"
                                                 class="card-img-top img-responsive" alt="{{ product.name }}">
                                        {% endif %}
                                    </a>
                                    <div class="card-body text-center d-flex flex-column justify-content-between" style="height: 14vw; object-fit: contain">
                                        <a href="{% url 'product_view' pk=product.vendor_code %}">

                                            <span class='fw-bold card-name d-inline-block text-start py-0 mb-0'
                                                  style="">
                                                <span itemProp="name"
                                                      class='card-name fw-bold text-dark mb-3'
                                                      style="   overflow: hidden;
                                                       display: -webkit-box;
                                                       -webkit-line-clamp: 3; /* number of lines to show */
                                                               line-clamp: 3;
                                                       -webkit-box-orient: vertical;"
                                                >{{ product.name }}</span>
                                            </span>
                                        </a>
                                        <span itemProp="price"
                                              data-id="{{ product.vendor_code }}"
                                              class='card-price fw-bold text-dark mb-3'
                                              style="   overflow: hidden;
                                                   display: -webkit-box;
                                                   -webkit-line-clamp: 3; /* number of lines to show */
                                                           line-clamp: 3;
                                                   -webkit-box-orient: vertical;"
                                        > {{ product.packprices.first.price }} р.</span>


                                        {#                                            <div class="d-flex justify-content-center">#}
                                        {#                                                {% for weight in product.packprices.all %}#}
                                        {#                                                    {% if product.packprices.all|length > 1 %}#}
                                        {#                                                        <div class="border-1 mx-1">#}
                                        {#                                                            {{ weight.weight }}#}
                                        {#                                                        </div>#}
                                        {#                                                    {% endif %}#}
                                        {#                                                {% endfor %}#}
                                        {#                                            </div>#}
                                        {% if product.packprices.all|length > 1%}

                                            <div class="d-flex text-center justify-content-around"
                                                 aria-label="{{ product.name }}">
                                                {% for weight in product.packprices.all %}
                                                    <button type="button"
                                                            data-id="{{ product.vendor_code }}plus{{ weight.id }}"
                                                            data-price="{{ weight.price }}"
                                                            class="btn btn-secondary weight-select-button"
                                                            style="font-size: 70%; {% if forloop.first %} background-color: pink {% else %} background-color: gray {%endif%}"
                                                    >{{ weight.weight }}</button>

                                                {% endfor %}


                                            </div>
                                        {% endif %}
                                        <button
                                                data-name="{{ product.name }}"
                                                data-price="{{ product.price }}"
                                                data-id="{{ product.vendor_code }}"
                                                data-weight="{{ product.packprices.first.id }}"
                                                class="add-to-cart-btn w-100 mb-1 to_cart_button"
                                        >В корзину
                                        </button>
                                        <div id="cart-wrap" class="text-center justify-item-end cart-qty-wrapper mb-1"
                                             data-id="{{ product.vendor_code }}">
                                            <button class="cart-minus to_cart_button"
                                                    data-id="{{ product.vendor_code }}">-
                                            </button>
                                            <i class="bi bi-basket"></i>
                                            <span
                                                    class="cart-qty"
                                                    data-id="{{ product.vendor_code }}"
                                            >0</span>
                                            <button class="cart-plus  to_cart_button"
                                                    data-id="{{ product.vendor_code }}"
                                                    data-name="{{ product.name }}"
                                                    data-price="{{ product.price }}"
                                                    data-weight="{{ product.packprices.first.id }}"
                                            >+
                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}