{#{% extends 'base.html' %}#}
{% load static %}

<div style="background-color: darkgrey">
    <div class="row d-flex justify-content-around text-light px-4">
        <div class="d-flex justify-content-around m4">
            <div class="d-flex flex-column">
                <div class="left_wrapper py-1">
                    <div class="logo_wrapper">
                        <a href="{% url 'index' %}">
                            {% if logo.image %}
                                <img src="{{ logo.image_url }} "
                                     class="" alt="Логотип"
                                >
                            {% else %}
                                <img src="{% static "images/no_image.svg" %}"
                                     class="" alt="Логотип">
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <span>© Все права защищены</span>
                    <a href="{% url 'legal' %}">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="d-flex flex-column text-white">
                <span style="color: #1A4582; font-weight: 700">КОНТАКТЫ</span>
                <div>
                    <span class="fw-bold d-flex flex-column">
                        {% if contacts %}
                            {% if contacts.phone1 %}
                                <a class="text-decoration-none  text-light"
                                   href="tel:{{ contacts.phone1 }}">{{ contacts.phone1 }}</a>
                            {% endif %}
                            {% if contacts.phone2 %}
                                <a class="text-decoration-none text-light"
                                   href="tel:{{ contacts.phone2 }}">{{ contacts.phone2 }}</a>
                            {% endif %}
                            {% if contacts.phone3 %}
                                <a class="text-decoration-none text-light"
                                   href="tel:{{ contacts.phone3 }}">{{ contacts.phone3 }}</a>
                            {% endif %}
                            {% if contacts.email1 %}
                                <a class="text-decoration-none text-light fw-normal"
                                   href="mailto:{{ contacts.email1 }}">{{ contacts.email1 }}</a>
                            {% endif %}
                            {% if contacts.address1 %}
                                <span class="text-decoration-none text-light">{{ contacts.address1 }}</span>
                            {% endif %}
                            {% if contacts.address2 %}
                                <span class="text-decoration-none text-light">{{ contacts.address2 }}</span>
                            {% endif %}
                            {% if contacts.address3 %}
                                <span class="text-decoration-none text-light">{{ contacts.address3 }}</span>
                            {% endif %}

                        {% endif %}

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
{#{% block footer %}#}
{#<div class="container footer d-sm-flex mt-auto w-100 d-none" style="background-color:#1A4582">#}
{#    <div class="navbar-inner d-flex w-50 justify-content-center my-4 " style="color: white">#}
{#        {% for social in socials %}#}
{#            {% if social.image %}#}
{#                <a href="{{ social.link }}" target="_blank" class="social_network_icon">#}
{##}
{#                    <img style="height: 50px; fill: white" class="px-2" src="{{ social.image_url }}" alt="{{ social }}">#}
{#                </a>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </div>#}
{#    <div class="w-50 d-flex flex-column justify-content-center text-white">#}
{#        {% if contacts.address1 %}#}
{#            <span>{{ contacts.address1 }}</span>#}
{#        {% endif %}#}
{#        {% if contacts.address2 %}#}
{#            <span>{{ contacts.address2 }}</span>#}
{#        {% endif %}#}
{#        {% if contacts.address3 %}#}
{#            <span>{{ contacts.address3 }}</span>#}
{#        {% endif %}#}
{#        {% if contacts.phone1 %}#}
{#            <a class="fs-3 text-white" href="tel:{{ contacts.phone1 }}">Тел: {{ contacts.phone1 }}</a>#}
{#        {% endif %}#}
{#        {% if contacts.phone2 %}#}
{#            <a class="fs-3 text-white" href="tel:{{ contacts.phone2 }}">Тел: {{ contacts.phone2 }}</a>#}
{#        {% endif %}#}
{#        {% if contacts.phone3 %}#}
{#            <a class="fs-3 text-white" href="tel:{{ contacts.phone3 }}">Тел: {{ contacts.phone3 }}</a>#}
{#        {% endif %}#}
{#    </div>#}
{#</div>#}
{#<div class="navbar container footer_mobile d-flex d-sm-none mt-auto w-100 justify-content-around align-items-center footer-fixed-bottom"#}
{#     style="background-color:#1A4582; height: 80px"#}
{#>#}
{##}
    {#    <button class="navbar-toggler col-2 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">#}
    {#        <span class="navbar-toggler-icon footer_toggle_button toggle-icon"></span>#}
    {#    </button>#}
{#    <a href="{% url 'index' %}" class="d-flex flex-column h-100 justify-content-center align-items-center">#}
{#        <img class="" style="height: 50%" src="{% static 'images/home.svg' %}" alt="На главную">#}
{#        <span class="text-white" style="font-size: 10px">На главную</span>#}
{#    </a>#}
{#    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"#}
{#       class="d-flex flex-column h-100 justify-content-center align-items-center">#}
{#        <img class="" style="height: 50%" src="{% static 'images/catalog.svg' %}" alt="На главную">#}
{#        <span class="text-white" style="font-size: 10px">Каталог</span>#}
{#    </a>#}
{#    <a class="position-relative " href="{% url 'cart' %}">#}
{#        <img src="{% static 'images/cart.svg' %}" class="h-100" alt="Корзина" style="width: 30px">#}
{#        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-amount-footer">#}
{#                  <span class="visually-hidden">unread messages</span>#}
{#                </span>#}
{##}
{#    </a>#}
    {#    <div class="px-0 collapsed-search col-8 px-2" style="background-color: #1A4582">#}
{#    <a href="{% url 'about' %}" class='footer_search'#}
{#       style="width: 30px;#}
{#                        background: none;#}
{#                        border: none;#}
{#                        padding: 0;#}
{#                        color: white"#}
{#    >#}
{#        <img src="{% static 'images/about.svg' %}" alt="О нас">#}
{#    </a>#}
    {##}
    {#    </div>#}
{##}
{##}
    {#    <div class="navbar-inner d-flex w-50 justify-content-center my-4 " style="color: white">#}
    {#        {% for social in socials %}#}
    {#            {% if social.image %}#}
    {#                <a href="{{ social.link }}" target="_blank" class="social_network_icon">#}
    {##}
    {#                    <img style="height: 50px; fill: white" class="px-2" src="{{ social.image_url }}" alt="{{ social }}">#}
    {#                </a>#}
    {#            {% endif %}#}
    {#        {% endfor %}#}
    {#    </div>#}
    {#    <div class="w-50 d-flex flex-column justify-content-center text-white">#}
    {#        {% if contacts.address1 %}#}
    {#            <span>{{ contacts.address1 }}</span>#}
    {#        {% endif %}#}
    {#        {% if contacts.address2 %}#}
    {#            <span>{{ contacts.address2 }}</span>#}
    {#        {% endif %}#}
    {#        {% if contacts.address3 %}#}
    {#            <span>{{ contacts.address3 }}</span>#}
    {#        {% endif %}#}
    {#        {% if contacts.phone1 %}#}
    {#            <a class="fs-3 text-white" href="tel:{{ contacts.phone1 }}">Тел: {{ contacts.phone1 }}</a>#}
    {#        {% endif %}#}
    {#        {% if contacts.phone2 %}#}
    {#            <a class="fs-3 text-white" href="tel:{{ contacts.phone2 }}">Тел: {{ contacts.phone2 }}</a>#}
    {#        {% endif %}#}
    {#        {% if contacts.phone3 %}#}
    {#            <a class="fs-3 text-white" href="tel:{{ contacts.phone3 }}">Тел: {{ contacts.phone3 }}</a>#}
    {#        {% endif %}#}
    {#    </div>#}
{##}
{#</div>#}
{#{% endblock %}#}
{#<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"#}
{#     style="top: 100px">#}
{#    <div class="offcanvas-header">#}
{#        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Каталог</h5>#}
{#        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>#}
{#    </div>#}
{#    <div class="offcanvas-body accordion">#}
{#        {% for cat in allcategory %}#}
{#            <div class="accordion-item">#}
{#                <h2 class="accordion-header">#}
{#                    <button class="accordion-button collapsed" type="button"#}
{#                            data-bs-toggle="collapse"#}
{#                            data-bs-target="#section-{{ forloop.counter0 }}"#}
{#                            aria-expanded="false"#}
{#                            aria-controls="section-{{ forloop.counter0 }}"#}
{#                            style="color: #1A4582; background-color: #E6E6E6;">#}
{#                        {{ cat }}#}
{#                    </button>#}
{##}
{#                </h2>#}
{#                {% for subcat in allsubcategory %}#}
{#                    {% if subcat.category == cat %}#}
{#                        <div id="section-{{ forloop.parentloop.counter0 }}"#}
{#                             class="accordion-collapse collapse"#}
{#                             aria-labelledby="headingOne" data-bs-parent="#catalogaccordion">#}
{#                            <div class="accordion-body">#}
{#                                <a class="dropdown-item" style="color: #1A4582"#}
{#                                   href="{% url 'subcategory' category=subcat.category subcategory=subcat %}">{{ subcat }}</a>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}