{#{% extends 'base.html' %}#}
{% load static %}
{% if pagename != 'product_details' %}


    <div id="t-header" class="t-records" data-hook="blocks-collection-content-node" data-tilda-project-id="2602277"
         data-tilda-page-id="12161812" data-tilda-formskey="048ccbab20512a948bcdd4e2f1f6443c" data-tilda-lazy="yes"
         data-tilda-project-headcode="yes"
         style="font-family: Circe, Arial, sans-serif"
    >
        <div id="rec205655723" class="r t-rec t-rec_pt_0 t-rec_pb_0 t-screenmin-980px"
             style="padding-top:0px;padding-bottom:0px; " data-animationappear="off" data-record-type="821"
             data-screen-min="980px"><!-- t821 -->
            <div id="nav205655723marker"></div>
            <div id="nav205655723" class="t821 t821__positionstatic" style=" " data-bgcolor-hex="" data-bgcolor-rgba=""
                 data-navmarker="nav205655723marker" data-appearoffset="" data-bgopacity-two="" data-menushadow=""
                 data-bgopacity="1" data-menu="yes" data-bgcolor-setbyscript="yes">
                <div class="t821__maincontainer t821__c12collumns" style="">
                    <div class="t821__leftwrapper" style="padding-left:20px;">
                        <div class="t821__logo-wrapper">
                            <a href="/">
                                {% if logo.image %}
                                    <img src="{{ logo.image_url }} "
                                         class="t821__imglogo t821__imglogomobile" alt="Логотип"
                                         style="max-width: 200px; width: 200px;"
                                    >
                                {% else %}
                                    <img src="{% static "images/no_image.svg" %}"
                                         class="t821__imglogo t821__imglogomobile" alt="Логотип"
                                         style="max-width: 160px; width: 160px;"
                                    >
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    <div class="t821__rightwrapper" style="padding-right:20px;">
                        <div class="t821__phone-container" style="padding-right:20px;">
                            <div class="dws"
                                 data-bs-toggle="modal" data-bs-target="#headercallback" data-bs-dismiss="modal"
                                 style="cursor: pointer"
                            >
                                <div class="pulse">
                                    <div class="phone"

                                    >
                                        <img
                                                class="" role="presentation"
                                                src="{% static 'images/telephone.png' %}"
                                                imgfield="img2">
                                        <div class="text">Заказать звонок</div>
                                    </div>
                                </div>
                                {#                            <div class="pulse"#}
                                {#                                  style="">#}
                                {#                            <img#}
                                {#                                    class="" role="presentation"#}
                                {#                                    src="{% static 'images/telephone.png' %}"#}
                                {#                                    imgfield="img2">#}
                                                            </div>
                                <span class="t821__text t-descr t-descr_xxs" field="descr"
                                      style="font-weight:500;">

                                <strong>
                                    {% if contacts %}
                                        {% if contacts.phone1 %}
                                            <a style="color:rgb(0, 0, 0) !important;"
                                               href="tel:{{ contacts.phone1 }}">{{ contacts.phone1 }}</a><br>
                                        {% endif %}
                                        {% if contacts.phone2 %}
                                            <a style="color:rgb(0, 0, 0) !important;"
                                               href="tel:{{ contacts.phone2 }}">{{ contacts.phone2 }}</a><br>
                                        {% endif %}
                                        {% if contacts.phone3 %}
                                            <a style="color:rgb(0, 0, 0) !important;"
                                               href="tel:{{ contacts.phone3 }}">{{ contacts.phone3 }}</a><br>
                                        {% endif %}
                                        {% if contacts.email1 %}
                                            <a style="color:rgb(0, 0, 0) !important;"
                                               href="mailto:{{ contacts.email1 }}">{{ contacts.email1 }}</a>
                                        {% endif %}
                                    {% endif %}</strong>
                            </span>
                            </div>
                            <div class="t821__adress-container" style="padding-right:20px;">
                                <a class="dws" href="{% url 'index' %}#yamap"
                                     style="cursor: pointer"
                                >
                                    <div class="pulse">
                                        <div class="phone"

                                        >
                            <img
                                    class="t821__img t-img loaded" role="presentation"
                                    src="{% static 'images/location.png' %}"
                                    imgfield="img3">
                                        </div>
                                    </div>
                                </a>
                                <span class="t821__text t-descr t-descr_xxs" field="text"
                                      style="font-weight:500;">
                            <strong>Ульяновск</strong><br>
                                    {% if contacts %}
                                        {% if contacts.address1 %}
                                            {{ contacts.address1 }}<br>
                                        {% endif %}
                                        {% if contacts.address2 %}
                                            {{ contacts.address2 }}<br>
                                        {% endif %}
                                        {% if contacts.address3 %}
                                            {{ contacts.address3 }}
                                        {% endif %}
                                    {% endif %}

                        </span>
                            </div>
                            <div class="t821__btn-container">
                                <div id='wrap' class=" my-auto">
                                    {#                    <div id="wrap" class=" me-3">#}
                                    <form action="{% url 'search' %}" class="search-box-nocanvas"
                                          id="search-form-nocanvas">
                                        {{ searchform }}
                                        <button id="search-btn" class=" btn-search-nocanvas" type="submit"
                                                style="">
                                            <i class="bi bi-search"></i>
                                        </button>
                                        {#            <div class="search__wrapper">#}

                                        {#            input(type="text" , placeholder=" " )#}

                                        {#            </div>#}
                                    </form>
                                    {#                    </div>#}


                                </div>

                                {#                            <div class="t821__btn-wrapper">#}
                                {#                                <a target="" class="t-btn t-btn_sm "#}
                                {#                                   style="color:#333333;border:2px solid #333333;border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px;box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);"#}
                                {#                                   data-bs-toggle="modal" data-bs-target="#headercallback" data-bs-dismiss="modal">#}
                                {#                                    <table role="presentation" style="width:100%; height:100%;">#}
                                {#                                        <tbody>#}
                                {#                                        <tr>#}
                                {#                                            <td>Заказать звонок</td>#}
                                {#                                        </tr>#}
                                {#                                        </tbody>#}
                                {#                                    </table>#}
                                {#                                </a></div>#}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="rec205655725" class="r t-rec t-rec_pb_0 t-screenmin-980px" style="padding-bottom:0px; "
                 data-animationappear="off" data-record-type="258" data-screen-min="980px"><!-- T229 -->
                <div id="nav205655725marker"></div>
                <div id="nav205655725" class="t229 t229__positionstatic"
                     style="background-color: rgba(51,51,51,1); height:50px; " data-bgcolor-hex="#333333"
                     data-bgcolor-rgba="rgba(51,51,51,1)" data-navmarker="nav205655725marker" data-appearoffset=""
                     data-bgopacity="1" data-menu="yes" data-bgcolor-setbyscript="yes">
                    <div class="container-fluid h-100">
                        <nav class="main_container d-flex justify-content-evenly align-content-center h-100"
                             aria-label="Основные разделы на странице">
                            <ul class="uppercase d-flex justify-content-evenly  align-items-center menu-list my-2 "
                                role="menubar"
                                aria-label="Основные разделы на странице">
                                <li class="" role="none" style="padding:0 35px 0 0;">
                                    <a style="color:#ffffff;font-size:13px;font-weight:600;text-transform:uppercase; {% if pagename == 'index' %} opacity: .7;{% endif %}"
                                       href="{% url 'index' %}"
                                       tabindex="0"
                                       data-menu-submenu-hook=""
                                    >Главная</a>
                                </li>
                                <li class="dropdown" role="none" style="padding:0 35px;">
                                    <a class="nav-link dropdown-toggle my-1"
                                       href="{% url 'index' %}#our_goods" role="button"
                                       style="color:#ffffff;font-size:13px;font-weight:600;text-transform:uppercase;{% if pagename == 'category' %} opacity: .7;{% endif %}"
                                       data-tooltip-menu-id="203552058">Каталог
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for category in allcategory %}
                                            <li style="color: white; background-color: #1A4582;"><a
                                                    class="dropdown-item my-dropdown-item"
                                                    href="{% url 'category' category=category %}">{{ category }}</a>
                                            </li>
                                        {% endfor %}


                                    </ul>

                                </li>
                                <li class="t229__list_item" role="none" style="padding:0 35px;">
                                    <a class=""
                                       href="{% url 'services' %}"
                                       role="menuitem" tabindex="0"
                                       data-menu-submenu-hook=""
                                       style="color:#ffffff;font-size:13px;font-weight:600;text-transform:uppercase;{% if pagename == 'services' %} opacity: .7;{% endif %}">Услуги
                                    </a></li>
                                <li class="t229__list_item" role="none" style="padding:0 35px;">
                                    <a class=""
                                       href="{% url 'about' %}"
                                       role="menuitem" tabindex="0"
                                       data-menu-submenu-hook=""
                                       style="color:#ffffff;font-size:13px;font-weight:600;text-transform:uppercase;{% if pagename == 'about' %} opacity: .7;{% endif %}">О
                                        нас
                                    </a></li>
                                <li class="t229__list_item" role="none" style="padding:0 35px;">
                                    <a class=""
                                       href="{% url 'delivery' %}"
                                       role="menuitem" tabindex="0"
                                       data-menu-submenu-hook=""
                                       style="color:#ffffff;font-size:13px;font-weight:600;text-transform:uppercase;{% if pagename == 'delivery' %} opacity: .7;{% endif %}">Доставка
                                        и оплата</a></li>
                                <li class="t229__list_item" role="none" style="padding:0 0 0 35px;">
                                    <a class=""
                                       href="{% url 'contacts' %}"
                                       role="menuitem" tabindex="0"
                                       data-menu-submenu-hook=""
                                       style="color:#ffffff;font-size:13px;font-weight:600;text-transform:uppercase;{% if pagename == 'contacts' %} text-decoration: underline; {% else %} text-decorations: none; {% endif %}">Контакты</a>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>

            </div>
            {#    <div id="rec206046016" class="r t-rec" style="opacity: 1;" data-animationappear="off" data-record-type="702"#}
            {#         data-popup-subscribe-inited="y"><!-- T702 -->#}
            {#        <div class="t702">#}
            {#            <div class="t-popup" data-tooltip-hook="#popup:myform" role="dialog" aria-modal="true" tabindex="-1"#}
            {#                 aria-label="У вас есть вопросы?">#}
            {#                <div class="t-popup__container t-width t-width_6">#}
            {#                    <div class="t702__wrapper">#}
            {#                        <div class="t702__text-wrapper t-align_center">#}
            {#                            <div class="t702__title t-title t-title_xxs" style="">У вас есть вопросы?</div>#}
            {#                            <div class="t702__descr t-descr t-descr_xs" style="">Оставьте свои данные и мы перезвоним#}
            {#                                вам в течении 15-минут#}
            {#                            </div>#}
            {#                        </div>#}
            {#                        <form id="form206046016" name="form206046016" role="form" action="#" method="POST"#}
            {#                              data-formactiontype="2" data-inputbox=".t-input-group"#}
            {#                              class="t-form js-form-proccess t-form_inputs-total_2 "#}
            {#                              data-success-callback="t702_onSuccess"><input type="hidden" name="formservices[]"#}
            {#                                                                            value="bded5ca4b92b9688b4f9daa424d83f07"#}
            {#                                                                            class="js-formaction-services"><input#}
            {#                                type="hidden" name="formservices[]" value="fab3b9a0083859972e934009376bb01f"#}
            {#                                class="js-formaction-services">#}
            {#                            <div class="js-successbox t-form__successbox t-text t-text_md" aria-live="polite"#}
            {#                                 style="display:none;"></div>#}
            {#                            <div class="t-form__inputsbox">#}
            {#                                <div class="t-input-group t-input-group_nm" data-input-lid="1495810354468">#}
            {#                                    <div class="t-input-block"><input type="text" autocomplete="name" name="Name"#}
            {#                                                                      id="input_1495810354468"#}
            {#                                                                      class="t-input js-tilda-rule " value=""#}
            {#                                                                      placeholder="Ваше имя" data-tilda-req="1"#}
            {#                                                                      aria-required="true" data-tilda-rule="name"#}
            {#                                                                      aria-describedby="error_1495810354468"#}
            {#                                                                      style="color:#333333;border:1px solid #333333;border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;">#}
            {#                                        <div class="t-input-error" aria-live="polite" id="error_1495810354468"></div>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                                <div class="t-input-group t-input-group_ph" data-input-lid="1495810359387">#}
            {#                                    <div class="t-input-block"><input type="tel" autocomplete="tel" name="Phone"#}
            {#                                                                      id="input_1495810359387"#}
            {#                                                                      class="t-input js-tilda-rule " value=""#}
            {#                                                                      placeholder="Ваш номер телефона"#}
            {#                                                                      data-tilda-req="1" aria-required="true"#}
            {#                                                                      data-tilda-rule="phone" pattern="[0-9]*"#}
            {#                                                                      aria-describedby="error_1495810359387"#}
            {#                                                                      style="color:#333333;border:1px solid #333333;border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;">#}
            {#                                        <div class="t-input-error" aria-live="polite" id="error_1495810359387"></div>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                                <div class="t-form__errorbox-middle">#}
            {#                                    <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">#}
            {#                                        <div class="t-form__errorbox-text t-text t-text_md"><p#}
            {#                                                class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>#}
            {#                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>#}
            {#                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>#}
            {#                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>#}
            {#                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>#}
            {#                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>#}
            {#                                            <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p>#}
            {#                                        </div>#}
            {#                                    </div>#}
            {#                                </div>#}
            {#                                <div class="t-form__submit">#}
            {#                                    <button type="submit" class="t-submit"#}
            {#                                            style="color:#333333;background-color:#ffb600;border-radius:50px; -moz-border-radius:50px; -webkit-border-radius:50px;">#}
            {#                                        Позвоните мне#}
            {#                                    </button>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            <div class="t-form__errorbox-bottom">#}
            {#                                <div class="js-errorbox-all t-form__errorbox-wrapper" style="display:none;">#}
            {#                                    <div class="t-form__errorbox-text t-text t-text_md"><p#}
            {#                                            class="t-form__errorbox-item js-rule-error js-rule-error-all"></p>#}
            {#                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-req"></p>#}
            {#                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-email"></p>#}
            {#                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-name"></p>#}
            {#                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-phone"></p>#}
            {#                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-minlength"></p>#}
            {#                                        <p class="t-form__errorbox-item js-rule-error js-rule-error-string"></p></div>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            <div style="position: absolute; left: -5000px; bottom: 0; display: none;"><input type="text"#}
            {#                                                                                                             name="form-spec-comments"#}
            {#                                                                                                             value="Its good"#}
            {#                                                                                                             class="js-form-spec-comments"#}
            {#                                                                                                             tabindex="-1">#}
            {#                            </div>#}
            {#                        </form>#}
            {#                        <style>#rec206046016 input::-webkit-input-placeholder {#}
            {#                            color: #333333;#}
            {#                            opacity: 0.5;#}
            {#                        }#}
            {##}
            {#                        #rec206046016 input::-moz-placeholder {#}
            {#                            color: #333333;#}
            {#                            opacity: 0.5;#}
            {#                        }#}
            {##}
            {#                        #rec206046016 input:-moz-placeholder {#}
            {#                            color: #333333;#}
            {#                            opacity: 0.5;#}
            {#                        }#}
            {##}
            {#                        #rec206046016 input:-ms-input-placeholder {#}
            {#                            color: #333333;#}
            {#                            opacity: 0.5;#}
            {#                        }#}
            {##}
            {#                        #rec206046016 textarea::-webkit-input-placeholder {#}
            {#                            color: #333333;#}
            {#                            opacity: 0.5;#}
            {#                        }#}
            {##}
            {#                        #rec206046016 textarea::-moz-placeholder {#}
            {#                            color: #333333;#}
            {#                            opacity: 0.5;#}
            {#                        }#}
            {##}
            {#                        #rec206046016 textarea:-moz-placeholder {#}
            {#                            color: #333333;#}
            {#                            opacity: 0.5;#}
            {#                        }#}
            {##}
            {#                        #rec206046016 textarea:-ms-input-placeholder {#}
            {#                            color: #333333;#}
            {#                            opacity: 0.5;#}
            {#                        }</style>#}
            {#                        <div class="t702__form-bottom-text t-text t-text_xs t-align_center">Нажимая кнопку "Позвоните#}
            {#                            мне" вы соглашаетесь с <a href="https://дом-маляров.рф/privacy" style="">политикой#}
            {#                                конфиденциальности</a></div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="t-popup__close t-popup__block-close">#}
            {#                    <button type="button" class="t-popup__close-wrapper t-popup__block-close-button"#}
            {#                            aria-label="Закрыть диалог">#}
            {#                        <svg class="t-popup__close-icon" width="23px" height="23px"#}
            {#                             viewBox="0 0 23 23" version="1.1" xmlns="http://www.w3.org/2000/svg"#}
            {#                             xmlns:xlink="http://www.w3.org/1999/xlink">#}
            {#                            <g stroke="none" stroke-width="1" fill="#fff" fill-rule="evenodd">#}
            {#                                <rect transform="translate(11.313708, 11.313708) rotate(-45.000000) translate(-11.313708, -11.313708) "#}
            {#                                      x="10.3137085" y="-3.6862915" width="2" height="30"></rect>#}
            {#                                <rect transform="translate(11.313708, 11.313708) rotate(-315.000000) translate(-11.313708, -11.313708) "#}
            {#                                      x="10.3137085" y="-3.6862915" width="2" height="30"></rect>#}
            {#                            </g>#}
            {#                        </svg>#}
            {#                    </button>#}
            {#                </div>#}
            {#            </div>#}
            {#        </div>#}
            {#    </div>#}
        </div>

        <div id="rec305826014" class="r t-rec t-screenmax-980px d-lg-none" style="
        position: fixed;
        top: 20px;
        left: 20px;
        max-width: 180px;
        right: 15px;
        z-index: 1000;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: end;
        justify-content: end;
        width: auto;
        -webkit-transition: opacity ease-in-out .2s;
        -moz-transition: opacity ease-in-out .2s;
        -o-transition: opacity ease-in-out .2s;
        transition: opacity ease-in-out .2s
    " data-record-type="145"
             data-screen-max="980px" data-bg-color="#ffffff" data-animationappear="off"><!-- T135 -->
            <div class="t135">
                <a href="{% url 'index' %}"><img class=""
                                                 src="{{ logo.image_url }}"
                                                 imgfield="img"
                                                 style="width: 100%; display: inline-block;"
                                                 alt="Логотип"></a>
            </div>

        </div>
        <div class="t450__menu__content d-block d-lg-none" style="top:20px; " data-menu="yes" data-appearoffset=""
             data-hideoffset="" id="burgermenu">
            <div class="t450__burger_container t450__small " type="button" data-bs-toggle="offcanvas"
                 data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                <div class="t450__burger_bg t450__burger_cirqle" style="opacity:0.50;"></div>
                <div class="t-menuburger t-menuburger_first t-menuburger__small"><span
                        style="background-color:#ffffff;"></span><span
                        style="background-color:#ffffff;"></span><span style="background-color:#ffffff;"></span><span
                        style="background-color:#ffffff;"></span>
                </div>


            </div>
        </div>
        {#<button class="d-block d-lg-none button_stick navbar-toggler" type="button" data-bs-toggle="offcanvas"#}
        {#        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">#}
        {#    <img src="{% static 'images/menu.svg' %}" alt="Меню" style="width: 60px">#}
        {##}
        {#</button>#}
        <div class="offcanvas offcanvas-end text-bg-light text-dark" tabindex="-1" id="offcanvasRight"
             aria-labelledby="offcanvasRightLabel" style="width: 260px;" >
            <div class="offcanvas-header">
                {#        <div class="logo_wrapper ms-2 mt-3">#}
                {#            <a href="{% url 'index' %}">#}
                {#                {% if logo.image %}#}
                {#                    <img src="{{ logo.image_light_url }} "#}
                {#                         class="" alt="Логотип"#}
                {#                    >#}
                {#                {% else %}#}
                {#                    <img src="{% static "images/no_image.svg" %}"#}
                {#                         class="" alt="Логотип">#}
                {#                {% endif %}#}
                {#            </a>#}
                {#        </div>#}
                <button type="button" class="t450__close-button t450__close t450_opened " data-bs-dismiss="offcanvas"
                        aria-label="Close" style="background-color: #fff; border-radius: 50%"
                        aria-label="Закрыть меню">
                    <div class="t450__close_icon"><span style="background-color:#ffffff;"></span><span
                            style="background-color:#000;"></span><span
                            style="background-color:#000;"></span><span
                            style="background-color:#000;"></span>
                    </div>
                </button>
            </div>
            <div class="offcanvas-body p-0" >

                <ul class="uppercase d-flex flex-column justify-content-start menu-list my-2 ps-0"
                    style="font-family: 'Circe', Arial, sans-serif; color: black; font-size: 15px"
                    aria-label="Основные разделы на странице">
                    <div class=" my-auto">
                        {#                    <div id="wrap" class=" me-3">#}
                        <form action="{% url 'search' %}" class="" id="search-form-header">
                            <button id="offcanvassearchbutton" class=" btn-search-header" type="submit"
                                    style="">
                                <i class="bi bi-search" style="padding-right: 3px"></i>
                            </button>
                            {#            <div class="search__wrapper">#}
                            {{ searchform }}
                            {#            input(type="text" , placeholder=" " )#}

                            {#            </div>#}
                        </form>
                        {#                    </div>#}

                    </div>

                    <li class="" role="none" style="margin-top: 60px">
                        <a style="color:#000;font-weight:100;{% if pagename == 'index' %} opacity: .7;{% endif %}"
                           href="{% url 'index' %}"
                           tabindex="0"
                           data-menu-submenu-hook=""
                        >Главная</a>
                    </li>
                    <li class="" style="">
                        <a id="catalog_small" data-clecked='false' class=" my-1"
                           role="button"
                           style="color:#000;font-weight:100; cursor: pointer; {% if pagename == 'category' %} opacity: .7;{% endif %}"
                           data-tooltip-menu-id="203552058">Каталог
                        </a>
                        <ul class="d-none" id="catalog_items_small"
                            style="background-color: inherit; color: #000; list-style-type: none;  padding-left: 0">
                            {% for category in allcategory %}
                                <li style=" padding-left: 0">
                                    <a class="dropdown-item ps-0 fs-6"
                                       href="{% url 'category' category=category %}">{{ category }}
                                    </a>
                                </li>
                            {% endfor %}


                        </ul>

                    </li>
                    <li class="t229__list_item" role="none" style="">
                        <a class=""
                           href="{% url 'services' %}"
                           role="menuitem" tabindex="0"
                           data-menu-submenu-hook=""
                           style="color:#000;font-weight:100;{% if pagename == 'services' %} opacity: .7;{% endif %}">Услуги
                        </a></li>
                    <li class="t229__list_item" role="none" style="">
                        <a class=""
                           href="{% url 'about' %}"
                           role="menuitem" tabindex="0"
                           data-menu-submenu-hook=""
                           style="color:#000;font-weight:100;{% if pagename == 'about' %} opacity: .7;{% endif %}">О
                            нас
                        </a></li>
                    <li class="t229__list_item" role="none" style="">
                        <a class=""
                           href="{% url 'delivery' %}"
                           role="menuitem" tabindex="0"
                           data-menu-submenu-hook=""
                           style="color:#000;font-weight:100;{% if pagename == 'delivery' %} opacity: .7;{% endif %}">Доставка
                            и оплата</a></li>
                    <li class="t229__list_item" role="none" style="">
                        <a class=""
                           href="{% url 'contacts' %}"
                           role="menuitem" tabindex="0"
                           data-menu-submenu-hook=""
                           style="color:#000;font-weight:100;{% if pagename == 'contacts' %} opacity: .7; {% else %} text-decorations: none; {% endif %}">Контакты</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="modal fade center-block" id="headercallback" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered vw-75">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class=" d-flex flex-column align-items-center">
                            <span id="" class=" w-100"
                                  style="line-height: 1.3; font-size: 30px">У Вас есть вопросы?</span>
                            <span id="" class=" w-100" style="line-height: 1.3; font-size: 18px; font-weight: 300">Оставьте свои данные и мы перезвоним вам в течении 15-минут</span>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'thanks' %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Отправить заявку</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
{% endif %}