{#{% extends 'base.html' %}#}
{% load static %}


<nav class="container w-100 flex-column ">
    <div class="row container p-0 d-flex justify-content-center first-row w-100">
        <div class="col-3 text-center uln">
            <span class="align-self-center">Ульяновск</span>
        </div>
        <div class="col-6 d-flex justify-content-end phone">
            <i class="bi bi-telephone-fill me-2"></i>
            {% if contacts.phone1 %}
                <a href="tel:{{ contacts.phone1 }}"> {{ contacts.phone1}}</a>
            {% endif %}

        </div>
        <div class="col-3 text-center call-back">
            <span type="button" data-bs-toggle="modal" data-bs-target="#headercallback">ЗАКАЗАТЬ ЗВОНОК</span>
        </div>
    </div>
    <div class="row container p-0 second-row w-100">
        <div class="col-3">
            <div class="logo-wrapper text-center">
                <a href="{% url 'index' %}">
{#                    <img class="w-75 my-2 object-fit-cover" src="{% static 'images/logo.svg' %}" alt="Logo">#}
                    {% if logo.image %}
                        <img src="{{ logo.image_url }} "
                             class="w-75 my-2 object-fit-cover" alt="Логотип"
{#                             style="height: 150px; object-fit: cover; border-color: #1A4582; border-width: medium"#}
                        >
                    {% else %}
                        <img src="{% static "images/no_image.svg" %}"
                             class="card-img-top img-responsive" alt="Логотип">
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="col-9 px-0">
            <div class="menu-img d-flex flex-column justify-content-center">
                <span class="repair ms-4">РЕМОНТ</span>
                <div class="d-flex">
                    <div class="menu-line1"></div>
                    <span class="and fs-4 mx-3">и</span>
                    <div class="menu-line2">
                    </div>
                </div>
                <span class="goods ms-4">ТОВАРЫ</span>
                <span class="for-repair ms-4">ДЛЯ РЕМОНТА</span>
            </div>
        </div>
    </div>
    <div class="row container p-0 third-row w-100">
        <div class="col-3 px-0">
            <form action="{% url 'search' %}"
                  class="text-center mx-auto py-2 search-wrapper text-center position-relative" method='POST'>
                {% csrf_token %}
                {{ searchform.as_div }}
                {#                <div type='submit' class='position-absolute'#}
                {#                      style="top: 30%; right: 20%; font-size: 13px">#}
                <button type='submit' class='bi bi-search position-absolute'
                        style="top: 30%; right: 10%; font-size: 13px;      background: none;
                        border: none;
                        padding: 0;">

                </button>
                {#                <input type="submit" class='bi bi-search position-absolute' style="top: 30%; right: 20%; font-size: 13px">#}
                {#                </div>#}
            </form>

        </div>
        <div class="col-6 d-flex justify-content-around">
            <a class="navbar-brand align-self-center" href="{% url 'services' %}">ВИДЫ РАБОТ</a>
            <a class="navbar-brand align-self-center to_goods" href="{% url 'index' %}#goods">КАТАЛОГ ТОВАРОВ</a>
            <a class="navbar-brand align-self-center" href="{% url 'index' %}">О КОМПАНИИ</a>

        </div>
        <div class="col-3 position-relative text-center cart-wrapper">
            <a class="position-relative" href="{% url 'cart' %}">
                <i class="position-absolute cart">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-amount">
                  <span class="visually-hidden">unread messages</span>
                </span>
                </i>
            </a>

        </div>
    </div>


    {#    <div class="container-fluid d-flex justify-content-between">#}
    {#        <a class="navbar-brand" href="{% url 'index' %}">Ульяновск</a>#}
    {#        <a class="navbar-brand" href="{% url 'goods' %}">Товары</a>#}
    {#        <a class="navbar-brand" href="{% url 'services' %}">Работы</a>#}
    {#        <div class="position-relative">#}
    {#            <a class="navbar-brand" href="{% url 'cart' %}">#}
    {#                <i class="bi bi-cart3">#}
    {#                          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-amount">#}
    {##}
    {#                              <span class="visually-hidden">unread messages</span>#}
    {#                          </span>#}
    {##}
    {#                </i>#}
    {#            </a>#}
    {##}
    {#        </div>#}
    {#    </div>#}
</nav>
<div class="modal fade" id="headercallback" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Как с Вами связаться?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'thanks' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="modal-footer">
                        {#                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>#}
                        <button type="submit" class="btn btn-primary">Отправить заявку</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

