{% load static %}

{% if promoslider %}



    <div id="carouselExampleFade" class="w-100 carousel slide carousel-fade mb-3 " data-bs-ride="carousel">
        <ol class="carousel-indicators">

            {% for slide in promoslider %}

                {% if forloop.first %}
                    <button type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true"
                            aria-label="{{ forloop.counter0 }}"></button>
                {% else %}
                    <button type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide-to="{{ forloop.counter0 }}" aria-label="{{ forloop.counter0 }}"></button>

                {% endif %}
            {% endfor %}

        </ol>
        <div class="carousel-inner">
            {% for slide in promoslider %}
                <a id="promo_link_button" href="
                {% if slide.vendor %}
                    {% url 'subcategory' category=slide.category subcategory=slide.subcategory %}?vendor={{ slide.vendor }}
                {% else %}
                    {% url 'subcategory' category=slide.category subcategory=slide.subcategory %}
                {% endif %}
                ">
                    <button
                            class="btn_container align-self-center fw-bold d-flex align-items-center">
                    <span type="button" data-bs-toggle="modal" data-bs-target="#headercallback"
                          class="">Перейти в каталог</span>
                    </button>
                </a>
                {% if forloop.first %}
                    <div class="carousel-item active" data-bs-interval="4000">
                        <img src="
                                {% if slide.photo %}{{ slide.photo.url }}{% else %}{% static 'images/no_image.svg' %}{% endif %}"
                             class="d-block w-100 object-fit-cover" alt="{{ slide.name }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ slide.name }}</h5>
                            {#                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>#}
                        </div>
                    </div>
                {% else %}
                    <div class="carousel-item" data-bs-interval="4000">
                        <img src="
                                {% if slide.photo %}{{ slide.photo.url }}{% else %}{% static 'images/no_image.svg' %}{% endif %}"
                             class="d-block w-100 object-fit-cover" alt="{{ slide.name }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ slide.name }}</h5>
                            {#                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>#}
                        </div>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
        </button>

    </div>
{% endif %}
