{% load static %}

<div id="carouselExampleIndicators" class="carousel slide w-100 h-100 mx-auto">
{#    <div class="carousel-indicators h-100">#}
{#        {% for service in work %}#}
{#            {% if forloop.first %}#}
{#                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="active" aria-current="true" aria-label="{{ forloop.counter0 }}"></button>#}
{#            {% else %}#}
{#                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="{{ forloop.counter0 }}"></button>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#    </div>#}
    <div class="carousel-inner h-100">
        {% for service in work %}
{#            {% if forloop.first %}#}
{#                <div class="carousel-item none">#}
{#                    <img data-category="{{ service.service_category }}"#}
{#                            src="{% if service.photo %}{{ service.photo.url }}{% else %}{% static 'images/no_image.svg' %}{% endif %}" class="d-block w-100" alt="...">#}
{#                </div>#}
{#            {% else %}#}
                <div class="d-none service_big_photo h-100 w-100">
                    <img data-category="{{ service.service_category }}"

                         class="h-100 w-auto service_big_photo_img"
                         style="object-fit: contain; image-orientation: from-image"
                            src="{% if service.photo %}{{ service.photo.url }}{% else %}{% static 'images/no_image.svg' %}{% endif %}" alt=service.name>
                </div>

{#            {% endif %}#}
        {% endfor %}
    </div>
    <button class="carousel-control-prev" style="fill: #6c757d" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(1) grayscale(100);"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" style="fill: #6c757d" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(1) grayscale(100);" ></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>


{#<div class="container px-0 py-3 d-table-row collapse w-100">#}
{#        <span   class="pe-3 d-table-cell text-nowrap our_work_index"#}
{#                style="font-family: 'Gotham Pro Medium',sans-serif;#}
{#                color: #1A4582;#}
{#            ">НАШИ РАБОТЫ</span>#}
{#    <div class="service_index_line p-0 d-table-cell h-100 w-100"></div>#}
{#</div>#}
{#<div class="container"#}
{#<ul id="lightSlider" class="mt-3 ">#}
{#    {% for service in work %}#}
{#    <li class="">#}
{#        <img src="{% if service.photo %}{{ service.photo.url }}{% else %}{% static 'images/no_image.svg' %}{% endif %}" class="d-block w-100 object-fit-contain" alt="{{ service.name }}">#}
{#        <h3 class="service_name">{{ service.name }}</h3>#}
{#        <p>Lorem ipsum Cupidatat quis pariatur anim.</p>#}
{#    </li>#}
{#    {% endfor %}#}
{#</ul>#}
{#<ul id="lightSlider_work_landscape">#}
{#    {% for service in work_landscape %}#}
{#    <li class="">#}
{#        <img src="{% if service.photo %}{{ service.photo.url }}{% else %}{% static 'images/no_image.svg' %}{% endif %}" class="d-block w-100 object-fit-contain" alt="{{ service.name }}">#}
{#        <h3 class="service_name">{{ service.name }}</h3>#}
{#        <p>Lorem ipsum Cupidatat quis pariatur anim.</p>#}
{#    </li>#}
{#    {% endfor %}#}
{##}
{#</ul>#}

