
.autoflash{
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.flash{
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
  transform: skewX(-45deg) translateX(0);
  -webkit-transition: none;
  transition: none;
}

.lighting {
  webkit-animation: moving 2s ease-in-out infinite;
  -moz-animation: moving 2s ease-in-out infinite;
  -ms-animation: moving 2s ease-in-out infinite;
  -o-animation: moving 2s ease-in-out infinite;
  animation: moving 2s ease-in-out infinite;

}

@keyframes moving {
  30% {  webkit-transform: skewX(-45deg) translateX(20em);
    transform: skewX(-45deg) translateX(20em);

  }

  100% {  webkit-transform: skewX(-45deg) translateX(20em);
    transform: skewX(-45deg) translateX(20em);

  }
}



.tn-img {
  transform: rotate(45deg);
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  box-sizing: content-box;

  img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
  }
}

.tn-img1 {
  transform: rotate(-45deg);
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  box-sizing: content-box;

  img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
  }
}

@media screen and (max-width: 576px) {
  .tn-elem__2056596141594812414867 {
    left: -200px;
    top: 20px;
    width: 180px;
  }
  .tn-elem__2056596141594812386742 {
    right: -100px;
    top: 115px;
    width: 200px;

  }

}