
#delivery_decr {
  text-transform: uppercase;
  font-weight: 700;
  color: $maincolor;
}

.circle_before_span {

  display: block;
  margin: auto 5px auto 0;
  //padding: 20px 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}
.furgon {
  width: 50%;
}

.delivery_text {
  line-height: 28px;
  font-size: 18px
}
@media screen and (min-width: 481px) {
  #delivery_decr {
    line-height: 47px;
    font-size: 30px;
  }
  .small_payment_img {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .small_payment_img {

  }
  #delivery_decr {
    font-size: 16px;
    text-transform: uppercase;
    color: $maincolor;
  }
  #delivery {
    #our_goods {
      font-size: 24px;
    }

  }
  .furgon {
    width: 60%;
  }
  .delivery_text {
    line-height: 22px;
    font-size: 14px;
    width: 80%;

  }

}