.first-row {
  height: 2.5rem;
  .uln, .call-back,  {
    line-height: 2.5rem;
    font-family: "Gotham Pro Medium", sans-serif;
    font-size: 1rem;
    height: 100%;
    //font-size: 5.728px;
    background-color: #1A4582;
    color: white;
    ;
  }
  .phone {
    line-height: 2.5rem;
    font-family: 'Gorham Pro Black', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    height: 100%;
    color: #1A4582;
    a {


      color: #1A4582;
    }
  }
}

.menu-img {
  background: url("../images/header-bg-image.jpg") no-repeat left center/ cover;
  height: 100%;
  .repair, .goods {
    font-family: 'Gorham Pro Black', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2rem;
    color: white;

  }
  .for-repair {
    font-family: 'Gotham Pro Medium', sans-serif;
    //font-weight: bold;
    font-size: 1rem;
    color: white;

  }
  .menu-line1 {
    width: 4rem;
    height: 2px;
    background-color: #fff;
    margin: 1rem 0 1rem 1.5rem;

  }
  .menu-line2 {
    width: 4rem;
    height: 2px;
    background-color: #fff;
    margin: 1rem 0 1rem 0;

  }
  .and {
    color: white;
  }

}
.header-fixed-top {
  position: sticky;
  top: 0;
  background-color: inherit; /* [1] */
  z-index: 1055; /* [2] */
}
.collapsed-search {
  .search-input {
    width: 100%;
    border-radius: 20px;
  }
}
.third-row {
  .search-input{
    //-webkit-border-radius: 20px;
    //-moz-border-radius: 20px;
    border-radius: 20px;
    //border: 1px solid #2d9fd9;
    //color: #a0d18c;
    //width: 250px;
    //height: 30px;
    //padding-left: 10px;
  }
  //.search-input:focus{
  //  //outline: none;
  //  //border: 1px solid #a0d18c;
  //  color: #2d9fd9;
  //}
  .search-wrapper {
    background-color: #1A4582;
  }
  .cart-wrapper {
    background-color: #1A4582;

  }
  .cart {
    background: url("../images/cart.svg") no-repeat center center / contain;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -18%);
    z-index: 1001;
  }
  .search-input {
    width: 90%;
  }

}