@charset "UTF-8";
@import url(components/tilda-blocks-page11886414.min.css);
@import url(components/tilda-grid-3.0.min.css);
@import url(components/tilda-popup-1.1.min.css);
.carousel_wrapper {
  height: 600px;
  margin: 0 auto; }

#myCarousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%; }

.promo_table {
  max-width: 1200px;
  position: absolute;
  right: 15%;
  top: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center; }

.header_container {
  font-family: 'Circe',Arial,sans-serif;
  font-size: 14px;
  line-height: 1.55; }
  .header_container .left_wrapper {
    padding-top: 10px;
    padding-bottom: 10px; }
  .header_container .right_wrapper .phone_container img {
    height: 40px; }
  .header_container .right_wrapper .address_container img {
    height: 40px; }
  .header_container .btn_container {
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50px; }

.offcanvas-body {
  padding: 42px 25px 25px;
  height: auto;
  min-height: 100%;
  text-align: left; }
  .offcanvas-body .menu-list {
    list-style-type: none; }
    .offcanvas-body .menu-list li {
      padding-left: 30px;
      margin: 10px 0; }
    .offcanvas-body .menu-list a {
      font-size: 24px;
      text-decoration: none; }

.menu-content {
  font-family: 'Circe',Arial,sans-serif;
  background-color: #333333; }
  .menu-content .menu-list {
    list-style-type: none; }
    .menu-content .menu-list a {
      text-decoration: none; }

.active {
  text-decoration: underline; }

.logo_stick {
  top: 25px;
  left: 50px;
  position: fixed;
  z-index: 1000; }

.button_stick {
  top: 25px;
  right: 50px;
  position: fixed;
  z-index: 1000; }

@media (max-width: 1200px) {
  .header_container {
    font-family: 'Circe', Arial, sans-serif;
    font-size: 12px;
    line-height: 1.55; } }

@media (max-width: 480px) {
  .logo_stick {
    top: 25px;
    left: 20px;
    position: fixed;
    z-index: 1000; }
    .logo_stick img {
      height: 40px; }
  .button_stick {
    top: 25px;
    right: 20px;
    position: fixed;
    z-index: 1000; }
    .button_stick img {
      height: 40px; } }

.t-menuburger {
  position: relative;
  flex-shrink: 0;
  width: 28px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1; }

/*---menu burger lines---*/
.t-menuburger span {
  display: block;
  position: absolute;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .25s ease-in-out;
  height: 3px;
  background-color: #000; }

.t-menuburger span:nth-child(1) {
  top: 0px; }

.t-menuburger span:nth-child(2),
.t-menuburger span:nth-child(3) {
  top: 8px; }

.t-menuburger span:nth-child(4) {
  top: 16px; }

/*menu burger big*/
.t-menuburger__big {
  width: 42px;
  height: 32px; }

.t-menuburger__big span {
  height: 5px; }

.t-menuburger__big span:nth-child(2),
.t-menuburger__big span:nth-child(3) {
  top: 13px; }

.t-menuburger__big span:nth-child(4) {
  top: 26px; }

/*menu burger small*/
.t-menuburger__small {
  width: 22px;
  height: 14px; }

.t-menuburger__small span {
  height: 2px; }

.t-menuburger__small span:nth-child(2),
.t-menuburger__small span:nth-child(3) {
  top: 6px; }

.t-menuburger__small span:nth-child(4) {
  top: 12px; }

/*menu burger opened*/
.t-menuburger-opened span:nth-child(1) {
  top: 8px;
  width: 0%;
  left: 50%; }

.t-menuburger-opened span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.t-menuburger-opened span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.t-menuburger-opened span:nth-child(4) {
  top: 8px;
  width: 0%;
  left: 50%; }

.t-menuburger-opened.t-menuburger__big span:nth-child(1) {
  top: 6px; }

.t-menuburger-opened.t-menuburger__big span:nth-child(4) {
  top: 18px; }

.t-menuburger-opened.t-menuburger__small span:nth-child(1),
.t-menuburger-opened.t-menuburger__small span:nth-child(4) {
  top: 6px; }

/*---menu burger first style---*/
@media (hover), (min-width: 0\0) {
  .t-menuburger_first:hover span:nth-child(1) {
    transform: translateY(1px); }
  .t-menuburger_first:hover span:nth-child(4) {
    transform: translateY(-1px); }
  .t-menuburger_first.t-menuburger__big:hover span:nth-child(1) {
    transform: translateY(3px); }
  .t-menuburger_first.t-menuburger__big:hover span:nth-child(4) {
    transform: translateY(-3px); } }

/*---menu burger second style---*/
.t-menuburger_second span:nth-child(2),
.t-menuburger_second span:nth-child(3) {
  width: 80%;
  left: 20%;
  right: 0; }

@media (hover), (min-width: 0\0) {
  .t-menuburger_second.t-menuburger-hovered span:nth-child(2),
  .t-menuburger_second.t-menuburger-hovered span:nth-child(3) {
    animation: t-menuburger-anim 0.3s ease-out normal forwards; }
  .t-menuburger_second.t-menuburger-unhovered span:nth-child(2),
  .t-menuburger_second.t-menuburger-unhovered span:nth-child(3) {
    animation: t-menuburger-anim2 0.3s ease-out normal forwards; } }

.t-menuburger_second.t-menuburger-opened span:nth-child(2),
.t-menuburger_second.t-menuburger-opened span:nth-child(3) {
  left: 0;
  right: 0;
  width: 100% !important; }

/*---menu burger third style---*/
.t-menuburger_third span:nth-child(4) {
  width: 70%;
  left: unset;
  right: 0; }

@media (hover), (min-width: 0\0) {
  .t-menuburger_third:not(.t-menuburger-opened):hover span:nth-child(4) {
    width: 100%; } }

.t-menuburger_third.t-menuburger-opened span:nth-child(4) {
  width: 0 !important;
  right: 50%; }

/*---menu burger fourth style---*/
.t-menuburger_fourth {
  height: 12px; }

.t-menuburger_fourth.t-menuburger__small {
  height: 8px; }

.t-menuburger_fourth.t-menuburger__big {
  height: 18px; }

.t-menuburger_fourth span:nth-child(2),
.t-menuburger_fourth span:nth-child(3) {
  top: 4px;
  opacity: 0; }

.t-menuburger_fourth span:nth-child(4) {
  top: 8px; }

.t-menuburger_fourth.t-menuburger__small span:nth-child(2),
.t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
  top: 3px; }

.t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
  top: 6px; }

.t-menuburger_fourth.t-menuburger__small span:nth-child(2),
.t-menuburger_fourth.t-menuburger__small span:nth-child(3) {
  top: 3px; }

.t-menuburger_fourth.t-menuburger__small span:nth-child(4) {
  top: 6px; }

.t-menuburger_fourth.t-menuburger__big span:nth-child(2),
.t-menuburger_fourth.t-menuburger__big span:nth-child(3) {
  top: 6px; }

.t-menuburger_fourth.t-menuburger__big span:nth-child(4) {
  top: 12px; }

@media (hover), (min-width: 0\0) {
  .t-menuburger_fourth:not(.t-menuburger-opened):hover span:nth-child(1) {
    transform: translateY(1px); }
  .t-menuburger_fourth:not(.t-menuburger-opened):hover span:nth-child(4) {
    transform: translateY(-1px); }
  .t-menuburger_fourth.t-menuburger__big:not(.t-menuburger-opened):hover span:nth-child(1) {
    transform: translateY(3px); }
  .t-menuburger_fourth.t-menuburger__big:not(.t-menuburger-opened):hover span:nth-child(4) {
    transform: translateY(-3px); } }

.t-menuburger_fourth.t-menuburger-opened span:nth-child(1),
.t-menuburger_fourth.t-menuburger-opened span:nth-child(4) {
  top: 4px; }

.t-menuburger_fourth.t-menuburger-opened span:nth-child(2),
.t-menuburger_fourth.t-menuburger-opened span:nth-child(3) {
  opacity: 1; }

/*---menu burger animations---*/
@keyframes t-menuburger-anim {
  0% {
    width: 80%;
    left: 20%;
    right: 0; }
  50% {
    width: 100%;
    left: 0;
    right: 0; }
  100% {
    width: 80%;
    left: 0;
    right: 20%; } }

@keyframes t-menuburger-anim2 {
  0% {
    width: 80%;
    left: 0; }
  50% {
    width: 100%;
    right: 0;
    left: 0; }
  100% {
    width: 80%;
    left: 20%;
    right: 0; } }

@media (max-width: 576px) {
  .contacts a, .contacts span {
    font-size: 12px; } }

.goods_index_products_item {
  height: 417px;
  width: 259px;
  background-color: #ffffff;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 5px 15px 2px rgba(224, 220, 220, 0.5);
  padding: 0;
  border: 0; }

.goods_index_products_item_line {
  background-color: #1A4582;
  background-position: center center;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  display: table-cell;
  vertical-align: middle;
  margin: 20px 0px; }

.goods_index_products_item_name {
  color: #333333;
  font-size: 22px;
  font-family: 'Circe', Arial, sans-serif;
  line-height: 1.55;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 0; }

.goods_index_products_item_description {
  padding: 0 10px; }
  .goods_index_products_item_description span {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Circe', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400; }

.to_catalog_btn {
  height: 45px;
  background-color: #1A4582;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  white-space: nowrap;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50px; }
  .to_catalog_btn span {
    text-decoration: none; }

.element-animation {
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(20px); }

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%); }

#products_index:before {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  content: url("../images/kisspng-architecture.webp");
  width: 100vw;
  opacity: 0.3;
  overflow: hidden; }

#goods {
  font-family: Circe, Sans-Serif, sans-serif; }
  #goods #decr {
    width: 50%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-transform: none; }

#our_goods {
  font-size: 42px;
  font-weight: 700;
  line-height: 65px;
  color: #333333;
  text-transform: uppercase; }

#goods_line {
  width: 100px;
  height: 3px;
  background-color: #1A4582; }

@media (max-width: 480px) {
  #our_goods {
    font-size: 24px; }
  .goods_index_products_item {
    height: 328px;
    width: 150px; }
    .goods_index_products_item img {
      width: 80px;
      height: 31px; }
    .goods_index_products_item .goods_index_products_item_name {
      padding: 2px 0;
      font-size: 15px; }
    .goods_index_products_item .goods_index_products_item_description {
      padding: 0 10px; }
      .goods_index_products_item .goods_index_products_item_description span {
        font-size: 12px;
        line-height: 1.55;
        font-weight: 400; }
    .goods_index_products_item .to_catalog_btn {
      font-size: 12px;
      height: 25px;
      padding-left: 10px;
      padding-right: 10px; } }

#delivery_decr {
  text-transform: uppercase;
  font-weight: 700;
  color: #1A4582; }

.circle_before_span {
  display: block;
  margin: auto 5px auto 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray; }

@media (min-width: 481px) {
  #delivery_decr {
    line-height: 47px;
    font-size: 30px; }
  .small_payment_img {
    display: none; } }

@media (max-width: 480px) {
  #delivery_decr {
    font-size: 16px;
    text-transform: uppercase;
    color: #1A4582; }
  #delivery #our_goods {
    font-size: 24px; } }

@media (min-width: 992px) {
  .contacts .contact_name {
    color: #1A4582;
    font-size: 30px;
    font-weight: 700;
    font-family: Circe, sans-serif; }
  .pluses_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1A4582; }
    .pluses_circle img {
      width: 60px;
      margin: auto auto; }
  .inter_wrapper {
    width: 100%; }
  .inter1 {
    width: 75%;
    top: 0;
    left: 0; }
  .inter2 {
    width: 75%;
    bottom: 0;
    right: 0; } }

@media (max-width: 991px) {
  .contacts .contact_name {
    color: #1A4582;
    font-size: 24px;
    font-weight: 700;
    font-family: Circe, sans-serif; }
  .pluses_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1A4582; }
    .pluses_circle img {
      width: 60px;
      margin: auto auto; }
  .inter_wrapper {
    width: 50%;
    height: 350px; }
  .inter1 {
    width: 50%;
    left: 40%; }
  .inter2 {
    width: 40%;
    right: 40%; } }

@media (max-width: 518px) {
  .inter_wrapper {
    width: 50%;
    height: 200px; } }

#popup__toggle {
  bottom: 45px;
  left: 150px;
  position: fixed;
  z-index: 998; }

.img-circle {
  background-color: #2a7b3e;
  box-sizing: content-box;
  -webkit-box-sizing: content-box; }

.circlephone {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border: 2px solid #2a7b3e;
  width: 120px;
  height: 120px;
  bottom: -17px;
  right: 18px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
  -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
  -ms-animation: circle-anim 2.4s infinite ease-in-out !important;
  -o-animation: circle-anim 2.4s infinite ease-in-out !important;
  animation: circle-anim 2.4s infinite ease-in-out !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s; }

.circle-fill {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: #2a7b3e;
  width: 80px;
  height: 80px;
  bottom: 3px;
  right: 38px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: circle-fill-anim 2.3s infinite ease-in-out;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s; }

.img-circle {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 57px;
  height: 57px;
  bottom: 14px;
  right: 49px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7; }

.img-circleblock {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 57px;
  height: 57px;
  background-image: url("../images/mini.png");
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

.img-circle:hover {
  opacity: 1; }

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 1; } }

@keyframes tossing {
  0% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(-8deg); } }

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg); }
  50% {
    -webkit-transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(-8deg); } }

@-moz-keyframes circle-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: .1; }
  30% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5; }
  100% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: .1; } }

@-webkit-keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: .1; }
  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: .5; }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: .1; } }

@-o-keyframes circle-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.5) skew(1deg);
    -o-opacity: .1; }
  30% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    -o-opacity: .5; }
  100% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    -o-opacity: .1; } }

@keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1; } }

@-moz-keyframes circle-fill-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }

@-webkit-keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }

@-o-keyframes circle-fill-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }

@keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }

.close::before {
  height: 57px;
  width: 57px; }

.social_modal_content {
  bottom: 60px;
  left: 23px;
  position: fixed;
  z-index: 999; }

.main_container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; }

/*# sourceMappingURL=index.css.map */