.header_container {
  font-family: 'Circe',Arial,sans-serif;
  font-size: 14px;
  line-height: 1.55; }
  .header_container .left_wrapper {
    padding-top: 10px;
    padding-bottom: 10px; }
  .header_container .right_wrapper .phone_container img {
    height: 40px; }
  .header_container .right_wrapper .address_container img {
    height: 40px; }
  .header_container .btn_container {
    height: 45px;
    padding-left: 30px;
    padding-right: 30px;
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50px; }

.offcanvas-body {
  padding: 42px 25px 25px;
  height: auto;
  min-height: 100%;
  text-align: left; }
  .offcanvas-body .menu-list {
    list-style-type: none; }
    .offcanvas-body .menu-list li {
      padding-left: 30px;
      margin: 10px 0; }
    .offcanvas-body .menu-list a {
      font-size: 24px;
      text-decoration: none; }

.menu-content {
  font-family: 'Circe',Arial,sans-serif;
  background-color: #333333; }
  .menu-content .menu-list {
    list-style-type: none; }
    .menu-content .menu-list a {
      text-decoration: none; }

.active {
  text-decoration: underline; }

.logo_stick {
  top: 25px;
  left: 50px;
  position: fixed;
  z-index: 998; }

.button_stick {
  top: 25px;
  right: 50px;
  position: fixed;
  z-index: 998; }

@media (max-width: 1200px) {
  .header_container {
    font-family: 'Circe', Arial, sans-serif;
    font-size: 12px;
    line-height: 1.55; } }

#popup__toggle {
  bottom: 45px;
  left: 150px;
  position: fixed;
  z-index: 998; }

.img-circle {
  background-color: #2a7b3e;
  box-sizing: content-box;
  -webkit-box-sizing: content-box; }

.circlephone {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  border: 2px solid #2a7b3e;
  width: 120px;
  height: 120px;
  bottom: -17px;
  right: 18px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
  -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
  -ms-animation: circle-anim 2.4s infinite ease-in-out !important;
  -o-animation: circle-anim 2.4s infinite ease-in-out !important;
  animation: circle-anim 2.4s infinite ease-in-out !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s; }

.circle-fill {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: #2a7b3e;
  width: 80px;
  height: 80px;
  bottom: 3px;
  right: 38px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: circle-fill-anim 2.3s infinite ease-in-out;
  animation: circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all 0.5s; }

.img-circle {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 57px;
  height: 57px;
  bottom: 14px;
  right: 49px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .7; }

.img-circleblock {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  width: 57px;
  height: 57px;
  background-image: url("../images/mini.png");
  background-position: center center;
  background-repeat: no-repeat;
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }

.img-circle:hover {
  opacity: 1; }

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1; }
  50% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0.9);
    opacity: 1; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
    opacity: 1; }
  50% {
    -webkit-transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.95);
    opacity: 1; } }

@keyframes tossing {
  0% {
    transform: rotate(-8deg); }
  50% {
    transform: rotate(8deg); }
  100% {
    transform: rotate(-8deg); } }

@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-8deg); }
  50% {
    -webkit-transform: rotate(8deg); }
  100% {
    -webkit-transform: rotate(-8deg); } }

@-moz-keyframes circle-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1;
    -moz-opacity: .1;
    -webkit-opacity: .1;
    -o-opacity: .1; }
  30% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5;
    -moz-opacity: .5;
    -webkit-opacity: .5;
    -o-opacity: .5; }
  100% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .6;
    -moz-opacity: .6;
    -webkit-opacity: .6;
    -o-opacity: .1; } }

@-webkit-keyframes circle-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
    -webkit-opacity: .1; }
  30% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    -webkit-opacity: .5; }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    -webkit-opacity: .1; } }

@-o-keyframes circle-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.5) skew(1deg);
    -o-opacity: .1; }
  30% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    -o-opacity: .5; }
  100% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    -o-opacity: .1; } }

@keyframes circle-anim {
  0% {
    transform: rotate(0deg) scale(0.5) skew(1deg);
    opacity: .1; }
  30% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1; } }

@-moz-keyframes circle-fill-anim {
  0% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -moz-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }

@-webkit-keyframes circle-fill-anim {
  0% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -webkit-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }

@-o-keyframes circle-fill-anim {
  0% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    -o-transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    -o-transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }

@keyframes circle-fill-anim {
  0% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; }
  50% {
    transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .2; }
  100% {
    transform: rotate(0deg) scale(0.7) skew(1deg);
    opacity: .2; } }

.close::before {
  height: 57px;
  width: 57px; }

.social_modal_content {
  bottom: 60px;
  left: 23px;
  position: fixed;
  z-index: 999; }

#promo_link_button {
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  bottom: 15%;
  z-index: 1001;
  text-decoration: none; }
  #promo_link_button button {
    background-color: #1A4582;
    padding: 10px 20px;
    border-radius: 50px; }
    #promo_link_button button span {
      color: white; }

#goods {
  width: 350px;
  font-family: Circe, Sans-Serif, sans-serif; }
  #goods span {
    font-size: 42px;
    font-weight: 700;
    line-height: 65px;
    color: black;
    text-transform: uppercase; }
  #goods #decr {
    width: 50%;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-transform: none; }

#goods_line {
  width: 30%;
  height: 3px;
  background-color: #1A4582; }

@font-face {
  font-family: "Circe";
  src: url("./fonts/CRC55.otf") format("otf"); }

/*# sourceMappingURL=index.css.map */