$maincolor: #1A4582;
@import "reset.css";
//@import "cart";
@import "promo_slider";
@import "header";
@import "footer";
//@import "about";
@import "category";
@import "services";
//@import "subcategory";
@import "products_details";
@import "products_index";
@import "delivery_index";
@import "about_index";
@import "contacts";
@import "callbackbutton";
@import "components/tilda-blocks-page11886414.min.css";
@import "components/tilda-grid-3.0.min.css";
@import "components/tilda-popup-1.1.min.css";
@import "components/inline";

@font-face {
  font-family: Circe;
  src: url("fonts/Circe-Bold.woff2") format('woff2');
}
@font-face {
  font-family: Circe-Regular;
  src: url("fonts/Circe-Regular.woff2") format('woff2');
}

body {
  font-family: Circe-Regular sans-serif;
}
.goods_index_image {
  height: 60px;
}

form {
  p {
    padding-top: 10px;
  }
}
.photo_slider {
  height: 500px;
}

@media screen and (max-width: 480px) {
  .goods_index_image {
    height: 40px;
  }
  .photo_slider {
    height: 250px;
  }

}
.main_container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  //height: 110px;
  //display: table;
  //position: relative;
}

#our_goods {
  //position:absolute;
  padding-top: 160px;
  margin-top: -160px;

}