
.product_details_img {
  height: 60%;
  min-height: 60%;
}
.full_product_details_img {
  height: 80vh;
  //max-height: 60%;
  object-fit: contain;
}
.nails {
  height: 10vh;
  object-fit: contain;
}
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px),
only screen and (device-width:1024px) and (device-height: 600px), only screen

and (width: 1280px) and (orientation: landscape), only screen

and (device-width: 800px), only screen and (max-width: 767px) {

  .flex-video { padding-top: 0; }
}

/* Position the image container (needed to position the left and right arrows) */
.container-thumbnail {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.full_mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.thumbnail_prev,
.thumbnail_next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: gray;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Next & previous buttons */
.full_thumbnail_prev,
.full_thumbnail_next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: gray;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.thumbnail_next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.full_thumbnail_next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.thumbnail_prev:hover,
.thumbnail_next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.full_thumbnail_prev:hover,
.full_thumbnail_next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row_nail:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}
.full_demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.active,
.full_demo:hover {
  opacity: 1;
}