@media (max-width: 1200px) {


  .services_table {
    font-size: 12px;
    max-width: 100%;
  }
  .services_callback {
    span {
      padding: 15px;
      font-size: 20px;
    }
  }

}
@media (max-width: 576px) {


  .services_table {
    font-size: 12px;
    max-width: 100%;
  }
  .services_callback {
    span {
      padding: 15px;
      font-size: 20px;
    }
  }

}
@media (max-width: 320px) {


  .services_table {
    font-size: 8px;
    max-width: 100%;
  }
  .services_callback {
    span {
      padding: 10px;
      font-size: 15px;
    }
  }

}