.service_index_line {

  background-color: #1A4582;
}
.category_line {

  background-color: #E6E6E6;
}
.category_line_title {
  flex-grow: 2;
}
.repair-works {
  font-size: 2rem;
}

@media (max-width: 768px) {
  #goods, .our_work_index, .repair-works, .contacts {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  #goods, .our_work_index, .repair-works, .contacts {
    font-size: 1rem;
  }
}