
.nazvblok {
  margin: 5px 0 30px -20px;
  background: url('../images/diamond.png') no-repeat 3px 0px ;
  background-size: 34px;
  padding: 6px 18px;
  font-size: 28px;
  text-align: left;
  font-weight: bold;
}

.calc_title {
  font-family: Circe,sans-serif;
  font-size: 35px;
  font-weight: 600;
}
.calc_info {
  font-family: Circe-Regular,sans-serif;
  font-size: 25px;
  font-weight: 300;

}
