.vendor_close {
  width: 70px;
  height: 70px;
  transform: translate(-100%, -45%);
}

.subcategory_menu {
  font-family: "Gotham Pro Medium", sans-serif;
  color: #1A4582;
}

.to_cart_button {
  border-radius: 10px;
  background-color: #FF0000;
  text-transform: uppercase;
  color: white;
}.page-num-selected {
  border-radius: 10px;
  background-color: #FF0000;
  text-transform: uppercase;
  color: white;
}

 @media (min-width: 1200px) {

   .subcategory_item, .category_product_item {
     height: 450px;
   }
   .subcategory_images, .category_product_image {
     height: 200px;
   }
 }
@media (max-width: 1199px) {
  .subcategory_item, .category_product_item {
    height: 400px;
  }
  .subcategory_images, .category_product_image {
    height: 150px;
  }
}
@media (max-width: 992px) {
  .subcategory_item, .category_product_item {
    height: 400px;
  }
  .subcategory_images, .category_product_image {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .subcategory_item, .category_product_item {
    height: 420px;
  }
   .subcategory_images, .category_product_image {
     height: 150px;
   }
 }
@media (max-width: 576px) {
  .subcategory_item, .category_product_item {
    height: 470px;
  }
  .subcategory_images, .category_product_image {
    height: 150px;
  }
}
@media (max-width: 320px) {
  .subcategory_item, .category_product_item {
    height: 470px;
  }
  .subcategory_images, .category_product_image {
    height: 150px;
  }
}
