
#wrap {
  margin: 0px;
  padding: 0px;
  //width: 100vw;
  //height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  //background-color: #130f40;
  //font-family: 'Lato' !important;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;


.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-family: Circe-Regular sans-serif !important;
  font-size: 12px;
  //letter-spacing: 2px;
  outline: none;
  border-radius: 0px;
  transition: all .5s ease-in-out;
  background-color: transparent;
  //background-color: #d4d4da;
  padding-right: 40px;
  color: #000000;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0;
  color: #f5f1f1;
  background-color: rgb(131, 130, 130);
  pointer-events: painted;

  i {
    margin: auto;
  }
}
.input-search:focus {
  width: 200px;
  border-radius: 0px;
  padding-right: 0;
  background-color: transparent;
  border-bottom: 1px solid black;
  //border-bottom: 1px solid rgba(18, 69, 166, 0.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
}
.search-box-nocanvas {
  .input-search {
    font-family: 'Circe', Arial, sans-serif;
    height: 30px;
    border-style: groove;
    padding: 10px;
    font-size: 18px;
    //letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    //transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#000;
    width: 200px;
    //border-bottom:1px solid rgba(255,255,255,.5);
    //transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  .input-search::placeholder {
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search-nocanvas {
    width: 40px;
    height: 30px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:rgb(33, 37, 41) ;
    background-color:transparent;
    pointer-events: painted;
    //border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
}
#search-form-header {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: auto;
  font-family: 'Circe', Arial, sans-serif;

  .input-search {
    height: 40px;
    width: 40px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    //letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#000;
  }

  .input-search::placeholder {
    color: rgba(72, 70, 70, 0.5);
    font-size: 18px;
    //letter-spacing: 2px;
    font-weight: 100;
  }


  .btn-search-header {
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    color: #232121;
    background-color: inherit;
    pointer-events: painted;
    i {
      margin: auto;
    }
  }
  .btn-search-header:focus, ~ .input-search {
    width: 250px;
    border-radius: 25px;
    border-style: none;
    background-color: transparent;
    //border-bottom:1px solid rgba(255,255,255,.5);
    //transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }


  .input-search:focus {
    width: 200px;
    border-radius: 25px;
    border-style: groove;
    background-color: transparent;
    //border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

}
#search_close {
  overflow: hidden;
  position: relative;
  border: none;
  padding: 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: transparent;
  color: #303131;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;

  &:focus {
    outline: solid 0 transparent;
    box-shadow: 0 0 0 2px #8ed0f9
  }

  &:hover {
    background: rgba(29, 161, 142, .1)
  }

  &:before, &:after {
    position: absolute;
    top: 15%;
    left: calc(50% - .0625em);
    width: .125em;
    height: 70%;
    border-radius: .125em;
    transform: rotate(45deg);
    background: currentcolor;
    content: ''
  }

  &:after {
    transform: rotate(-45deg);
  }
}


